@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: #454545;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 1.875em;
  font-weight: normal;
  margin: 0.67em 0; }

h2 {
  font-size: 1.375em;
  font-weight: normal;
  margin: 0.83em 0; }

h3 {
  font-size: 1.125em;
  font-weight: normal;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  font-weight: normal;
  margin: 1.23em 0; }

h5 {
  font-size: 0.85em;
  font-weight: normal;
  margin: 1.47em 0; }

h6 {
  font-size: 0.75em;
  font-weight: normal;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 85%; }
  @media screen and (min-width: 700px) {
    .container {
      width: 600px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 750px; } }
  @media screen and (min-width: 1200px) {
    .container.container__home {
      width: 1024px; } }

body {
  font-family: "karmina", serif;
  font-weight: 400;
  font-style: normal;
  color: #1f1d1d;
  line-height: 1.5;
  word-wrap: break-word; }

h1 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 700;
  line-height: 1.3;
  font-size: 40px; }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 54px; } }

h2 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 24px; }
  @media screen and (min-width: 700px) {
    h2 {
      font-size: 40px; } }

h3 {
  font-size: 22px;
  line-height: 1.3; }
  @media screen and (min-width: 700px) {
    h3 {
      font-size: 24px; } }

h4 {
  font-family: "sofia-pro", sans-serif;
  font-weight: 700;
  line-height: 1.5;
  font-size: 18px; }
  @media screen and (min-width: 700px) {
    h4 {
      font-size: 22px; } }

h5 {
  font-size: 14px; }
  @media screen and (min-width: 700px) {
    h5 {
      font-size: 16px; } }

p {
  font-size: 18px; }
  @media screen and (min-width: 700px) {
    p {
      font-size: 20px; } }

strong {
  font-weight: 700; }

a {
  text-decoration: none;
  text-transform: none;
  box-shadow: inset 0px -8px #fae60a;
  color: #1f1d1d;
  transition: all 500ms; }
  a:hover {
    box-shadow: inset 0px 8px #fae60a; }
  a:active {
    box-shadow: inset 0px 25px #fae60a;
    color: #9a9898; }

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 4px solid #f4f4f4; }

hr {
  border: 0;
  margin: 0 0 60px auto;
  padding-top: 60px;
  clear: both; }
  hr:after {
    display: block;
    content: "✕";
    text-align: center;
    font-size: 30px;
    color: #f4f4f4; }
    @media screen and (min-width: 700px) {
      hr:after {
        font-size: 40px; } }

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

::selection {
  color: #fae60a;
  text-shadow: none; }

html,
body {
  height: 100%;
  background: #fcfcfc; }
  @media screen and (min-width: 1200px) {
    html.body-home,
    body.body-home {
      background-image: url(/assets/images/bkg.jpg);
      background-size: 100%;
      background-attachment: fixed;
      background-repeat: no-repeat; } }

body {
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

section {
  margin: 100px auto;
  clear: both;
  display: block; }
  @media screen and (min-width: 1200px) {
    section {
      margin: 200px auto; } }

.about a.popup__link {
  position: relative;
  box-shadow: none; }
  .about a.popup__link span {
    position: absolute;
    display: none;
    z-index: 99; }
  .about a.popup__link:hover span {
    display: block; }
.about .about__text {
  word-wrap: break-word; }
  @media screen and (min-width: 1200px) {
    .about .about__text {
      margin: 60px 0px 50px 200px; }
      .about .about__text h5 {
        float: left;
        width: 45%;
        margin: 10px 2.5%; } }

.projects .soon {
  text-align: center;
  color: #9a9898; }
.projects .featured_project {
  margin: 40px auto;
  min-height: 30px;
  width: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: white;
  box-shadow: 0px 2px 8px 0px rgba(31, 29, 29, 0.1);
  border-radius: 4px;
  transition: all 500ms; }
  .projects .featured_project:hover, .projects .featured_project:active {
    background-size: 105%; }
  .projects .featured_project a {
    text-decoration: none;
    color: #1f1d1d; }
  .projects .featured_project .featured_project__text {
    word-wrap: break-word;
    padding: 20px; }
    .projects .featured_project .featured_project__text h4,
    .projects .featured_project .featured_project__text h5 {
      margin: 0 auto; }
.projects .featured_project__change {
  background-position: 50px -10px; }
  @media screen and (min-width: 1200px) {
    .projects .featured_project__change {
      height: 300px; } }
.projects .featured_project__resources {
  background: none; }
  .projects .featured_project__resources:hover, .projects .featured_project__resources:active {
    background: #e83943; }
    .projects .featured_project__resources:hover a, .projects .featured_project__resources:active a {
      color: white; }
  @media screen and (min-width: 1200px) {
    .projects .featured_project__resources {
      background-position-y: -40px;
      background-size: 100%;
      height: 300px; }
      .projects .featured_project__resources:hover, .projects .featured_project__resources:active {
        background-image: url(/assets/images/projects/resources_2.png) !important;
        background-position-y: -40px;
        background-size: 100%; } }
  .projects .featured_project__resources a {
    color: #e83943; }
@media screen and (min-width: 1200px) {
  .projects .featured_project__wheat {
    float: left;
    width: 47%;
    margin-right: 3%;
    height: 150px; } }
.projects .featured_project__wheat a {
  color: #0046fe; }
.projects .featured_project__wheat:hover, .projects .featured_project__wheat:active {
  background: #0046fe; }
  .projects .featured_project__wheat:hover a, .projects .featured_project__wheat:active a {
    color: white; }
@media screen and (min-width: 1200px) {
  .projects .featured_project__elenco {
    height: 150px;
    float: left;
    width: 47%;
    margin-left: 3%; } }
.projects .featured_project__elenco a {
  color: #2aa876; }
.projects .featured_project__elenco:hover, .projects .featured_project__elenco:active {
  background: #2aa876; }
  .projects .featured_project__elenco:hover a, .projects .featured_project__elenco:active a {
    color: white; }

@media screen and (min-width: 1200px) {
  .posts .post {
    margin: 10px auto;
    float: left;
    width: 33%;
    word-wrap: break-word; } }
.posts .post .date {
  margin-top: -15px;
  margin-left: 20px;
  color: #9a9898; }

.back {
  margin: 0 auto;
  z-index: 1000;
  position: fixed;
  top: 20px;
  left: 2%; }
  @media screen and (min-width: 700px) {
    .back {
      top: 30px; } }
  .back a {
    font-size: .9em;
    color: #9a9898;
    border-bottom: none;
    background: #fcfcfc;
    padding: 15px;
    box-shadow: none; }
    .back a:hover, .back a:active {
      color: #1f1d1d; }

.next {
  margin: 0 auto;
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 2%; }
  @media screen and (min-width: 1200px) {
    .next {
      top: 30px; } }
  .next a {
    font-size: .9em;
    color: #9a9898;
    border-bottom: none;
    background: #fcfcfc;
    padding: 15px;
    box-shadow: none; }
    .next a:hover, .next a:active {
      color: #1f1d1d; }

.blog {
  padding-top: 80px;
  margin-bottom: 100px; }
  @media screen and (min-width: 1200px) {
    .blog {
      padding-top: 40px;
      padding-bottom: 150px; } }
  .blog h4 {
    padding: 40px 0; }
  .blog h5 {
    margin-bottom: 50px; }
    .blog h5.date {
      color: #9a9898; }
    @media screen and (min-width: 700px) {
      .blog h5 {
        margin-bottom: 100px; } }
  .blog li {
    font-size: 18px; }
    @media screen and (min-width: 700px) {
      .blog li {
        font-size: 20px; } }
  .blog .video {
    width: 320px;
    height: 280px; }
    @media screen and (min-width: 700px) {
      .blog .video {
        width: 560px;
        height: 315px; } }
  .blog #disqus_thread {
    margin-top: 100px; }
    @media screen and (min-width: 700px) {
      .blog #disqus_thread {
        margin-top: 200px; } }

code {
  font-family: "source-code-pro", sans-serif;
  color: #fa0a1e;
  display: inline;
  word-wrap: break-word;
  font-size: 13px;
  background-color: #fed2d6;
  padding: 2px 4px;
  border-radius: 4px; }
  @media screen and (min-width: 700px) {
    code {
      font-size: 15px; } }

pre {
  font-family: "source-code-pro", sans-serif;
  font-size: 12px;
  color: #fa0a1e;
  border: 1px solid white;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  max-width: auto; }
  @media screen and (min-width: 700px) {
    pre {
      font-size: 14px; } }

figure img {
  width: 100%;
  margin: 0 auto; }
figure figcaption {
  font-size: 12px;
  color: #a8a8a8; }
  figure figcaption a {
    color: inherit; }
  @media screen and (min-width: 700px) {
    figure figcaption {
      font-size: 14px; } }
figure.big {
  clear: both;
  width: 100%;
  padding: 20px 0; }
  @media screen and (min-width: 1200px) {
    figure.big {
      width: 120%;
      margin-left: -10%; } }
figure.small-left {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.small-left {
      float: left;
      max-width: 30%;
      margin-left: -35%; } }
figure.small-right {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.small-right {
      float: right;
      max-width: 30%;
      margin-right: -35%; } }
figure.grid-2-left {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.grid-2-left {
      float: left;
      width: 49%; } }
figure.grid-2-right {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.grid-2-right {
      float: left;
      width: 49%;
      margin-left: 1%;
      margin-right: 1%; } }

video {
  width: 100%; }
  @media screen and (min-width: 700px) {
    video {
      width: auto; } }

ul {
  list-style: none; }
  ul li {
    text-indent: -28px;
    font-size: 16px;
    font-weight: 300;
    word-wrap: break-word; }
    @media screen and (min-width: 700px) {
      ul li {
        font-size: 18px; } }
    ul li:before {
      content: "→";
      margin-right: 10px;
      color: #1f1d1d; }

.error {
  margin: -19px auto;
  height: 100%;
  background: url("https://raw.github.com/drocarmo/gifs/master/upset/wwe.gif") no-repeat center;
  background-size: cover;
  color: white; }
  .error .container {
    padding: 20px auto; }
    .error .container p a {
      color: inherit; }
    .error .container p .small {
      font-size: 14px;
      text-transform: uppercase; }
