html {
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: 1;
}
body {
    -webkit-animation-duration: 3s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: 1;
    background-image:url('https://lh5.googleusercontent.com/-dj-co-i-RY0/UNzOQpCz6AI/AAAAAAAAAds/zoH9LRK5ovI/s812/300024-alexfas01.jpeg');
    background-size: cover;
}
div.transbox {
    width:450px;
    height:480px;
    margin:30px 50px;
    background-color:#ffffff;
    opacity:0.6;
    filter:alpha(opacity=10);
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: 1;
}
div.transbox p
  {
    text-rendering: optimizeLegibility;
    color: black;
    font-family: "Helvetica Neue";
    font-size:20px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
    -webkit-animation-duration: 2s;
    -webkit-animation-delay: 1.5s;
    -webkit-animation-iteration-count: 1;
  }
h1 {
    text-rendering: optimizeLegibility;
    color: black;
    font-size:32px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
}
p {
    text-rendering: optimizeLegibility;
    color: black;
    font-family: "Helvetica Neue";
    font-size:25px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
}
a {
    color: black;
    text-decoration: underline;
}
a:hover {
    text-transform: none;
    text-decoration: none;
    font-size: 22px;
}
​