h1 {
    font-family:"Century Gothic";
    font-size:32px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
}
p {
    color: #303030;
    font-family: "Helvetica Neue";
    font-size:20px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
}
a {
    color: #303030;
    text-decoration: underline;
}
a:hover {
    color: black;
    text-transform: none;
    text-decoration: none;
    text-shadow: white 0.1em 0.1em 0.2em;
    font-size: 22px;
}