/* CSS, dawg */

body {
    background-color: white;
    background-size: cover;
}
div.picture img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 165px;
    height: 165px;
    -moz-border-radius: 80px;
    -webkit-border-radius: 80px;
}
h1 {
    text-rendering: optimizeLegibility;
    color: #333333;
    font-family: "proxima-nova" ,sans-serif;
    font-size:35px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
}
p {
    text-rendering: optimizeLegibility;
    color: #333333;
    font-family: "proxima-nova",sans-serif;
    font-size:20px;
    font-weight:200;
    margin-left:auto;
    margin-right:auto;
    line-height: 90%;
    text-align: center;
}
a {
    text-transform: none;
    text-decoration: none;
}
a.links {
    color:#333333;
    font-size:20px;
    text-transform: none;
    text-decoration: none;
    border-bottom:solid 1px #64AECD;
}
a.links:hover {
    color: white;
    font-size:20px;
    text-transform: none;
    text-decoration: none;
    border: none;
    background-color: #333333;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
a.links:visited {
    color:#64AECD;
    font-size:20px;
    text-transform: none;
    text-decoration: none;
    border-bottom:solid 1px #333333;
}    
a.social:hover {
    text-transform: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
hr {
    clear: both;
    border: 1px solid transparent;
    height: 1px;
}

/* Animation, bro */

.animated {
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(22px);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-30px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(22px);
    }
}

@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }
    
    100% {
        opacity: 1;
        -ms-transform: translateY(22px);
    }
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(22px);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    animation-name: fadeInDown;
}