h1 {
font-family:"Helvetica Neue";
font-size:30px;
font-weight:200;
text-align: center;
line-height: 200%;
}
p {
font-family: "Helvetica Neue";
font-size:18px;
font-weight:200;
text-align: center;
line-height: 200%;
}
a {
    color: black;
    text-decoration: none;
    padding-right: 8px;
}
a:hover {
    color: #295ca2;
}
#wrap {
  height: 500px;            
  width: 900px; 
  margin: 0 auto; 
}
​