h1 {
    font-family:"Helvetica Neue";
    font-size:30px;
    font-weight:200;
    text-align: center;
    line-height: 200%;
}
p {
    color: #303030;
    font-family: "Helvetica Neue";
    font-size:18px;
    font-weight:200;
    text-align: center;
    line-height: 200%;
}
a {
    color: #303030;
    text-decoration: underline;
}
a:hover {
    color: black;
    text-transform: none;
    text-decoration: none;
    text-shadow: white 0.1em 0.1em 0.2em;
    font-size: 20px;
}
#wrap {
    left: 0;
    line-height: 150px;
    margin: auto;
    margin-top: -100px;
    position: absolute;
    top: 50%;
    width: 100%;
}