body {
    background-image:url('http://tonylazz.files.wordpress.com/2009/06/chicago-skyline-4a.jpg');
    background-size: cover;
}
div.transbox {
    width:600px;
    height:580px;
    margin:30px 50px;
    background-color:#ffffff;
    opacity:0.6;
    filter:alpha(opacity=10);
}
div.transbox p
  {
    text-rendering: optimizeLegibility;
    color: black;
    font-family: "Helvetica Neue";
    font-size:20px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
  }
h1 {
    text-rendering: optimizeLegibility;
    color: black;
    font-size:32px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
}
p {
    text-rendering: optimizeLegibility;
    color: black;
    font-family: "Helvetica Neue";
    font-size:25px;
    font-weight:200;
    text-align: center;
    line-height: 20%;
}
a {
    text-transform: none;
    text-decoration: none;
}
a.link {
    color:black;
    font-size:25px;
    text-transform: none;
    text-decoration: none;
    border-bottom:solid 1px #000000;
}
a.link:hover {
    font-size:25px;
    text-transform: none;
    text-decoration: none;
    border-bottom:solid 1px #0099FF;
}
a:hover {
    text-transform: none;
    text-decoration: none;
}
hr {
    clear: both;
    border: 1px solid transparent;
    height: 1px;
}

/* Animation css */

.animated {
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}


@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    animation-name: fadeInDown;
}​
    filter:alpha(opacity=10);
}
div.transbox p
  {
    text-rendering: optimizeLegibility;
    color: black;
    font-family: "Helvetica Neue";
    font-size:20px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
  }
h1 {
    text-rendering: optimizeLegibility;
    color: black;
    font-size:32px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
}
p {
    text-rendering: optimizeLegibility;
    color: black;
    font-family: "Helvetica Neue";
    font-size:25px;
    font-weight:200;
    text-align: center;
    line-height: 250%;
}
a {
    color: black;
    text-decoration: underline;
}
a:hover {
    text-transform: none;
    text-decoration: none;
    font-size: 22px;
}
hr {
    clear: both;
    border: 1px solid transparent;
    height: 1px;
}

/* Animation css */

.animated {
    -webkit-animation-duration: 1s;
       -moz-animation-duration: 1s;
        -ms-animation-duration: 1s;
            animation-duration: 1s;
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
}


@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(0);
    }
}

@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        -ms-transform: translateY(0);
    }
}


@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    animation-name: fadeInDown;
}​