// Importing all styles

@use "sass:color";  // Add this line
@use "colors";
@use "reset";
@use "grid";
@use "type";

// Base declarations

:root {
  --text: #f1f9ff;
  --highlight: #f4f4f4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  position: relative;
}

::selection {
  text-shadow: none;
}

html,
body {
  background:
    linear-gradient(to bottom, rgba(18, 22, 22, 0.8) 0%, rgba(3, 13, 28, 0.8) 100%),
    url('/assets/images/background.png') no-repeat center center fixed;
  background-size: cover;
  color: var(--text);
  min-height: 100vh;

  @media screen and (min-width: 1200px) {
    height: 100vh;
    overflow: hidden;
  }
}

body {
  @include grid.flex;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
}

