// Base declarations

:root {
  --background: #101010;
  --text: #fff;
  --highlight: #f4f4f4;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  position: relative;
}

::selection {
  color: $color-yellow;
  background-color: $color-black;
  text-shadow: none;
}

html,
body {
  background: var(--background);
  color: var(--text);
  transition: all 400ms;
}

body {
  @include flex;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.theme-switch {
  display: block;
  height: 40px;
  width: 300px;
  margin: 20px;
  cursor: pointer;

  @include screen-medium {
    margin: 30px;
    height: 60px;
  }
  @include screen-large {
    margin: 60px;
    height: 80px;
  }

  .switch {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/assets/images/circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    transition: .5s all ease-in-out;
    @include screen-medium {
      width: 80px;
      height: 80px;
    }
  }

  .clickme {
    display: none;
    font-size: 24px;
    font-weight: $type-weight-semi-bold;

    @include screen-medium {
      vertical-align: top;
      width: 200px;
      margin-top: -20px;
      padding-left: 10px;
    }
    .clickme-arrow {
      @include screen-medium {
        height:18px;
        width:18px;
        margin-bottom: 8px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        background-image: url('/assets/images/cursor.png');
      }
    }
  }

  &:hover {
    @include screen-medium {
      .switch {
        background-image: url('/assets/images/circle-hover.png');
      }
      .clickme {
        display: inline-block;
        transform: rotate(-15deg);
        .clickme-arrow {
          transform: rotate(5deg);
        }
      }
    }
  }
}

html.light-theme, body.light-theme {
  --background: #EDE1D1 !important;
  --text: #101010 !important;
  color: var(--text);
  background: var(--background);

  ::selection {
    color: $color-green;
    background-color: var(--background);
    text-shadow: none;
  }

  hr, span {
    background-color: rgba(29, 28, 29, 0.13) !important;
  }

  a {
    color: var(--text);
    box-shadow: inset 0 -2px var(--text);
    text-decoration: none;
    text-transform: none;
    &:hover {
      color: var(--background);
      box-shadow: inset 0 54px var(--text);
    }
  }

  .emdash {
    background-color: var(--text) !important;
  }

  .theme-switch {
    &:hover {
      .clickme-arrow {
        background-image: url('/assets/images/cursor-dark.png');
      }
    }
  }
}
