// Base declarations

*,
*::after,
*::before {
  box-sizing: border-box;
  position: relative;
}

::selection {
  color: $color-gray;
  background-color: $color-black;
  text-shadow: none;
}

html,
body {
  background: $color-black;
}

body {
  @include flex;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
}
