// Importing all styles

@use "sass:color";  // Add this line
@use "colors";
@use "reset";
@use "grid";
@use "type";

// Base declarations

:root {
  --background:#0b0d0e;
  --text: #f1f9ff;
  --highlight: #f4f4f4;
}

// Theme 1 - Primary Dark
[data-theme="1"] {
  --background: #0b0d0e;
  --text: #f1f9ff;
}

// Theme 2 - Dark Blue
[data-theme="2"] {
  --background: #00154d;
  --text: #f1f9ff;
}

// Theme 3 - Dark Green
[data-theme="3"] {
  --background: #004d38;
  --text: #f1f9ff;
}

// Theme 4 - Dark Red
[data-theme="4"] {
  --background: #4d0015;
  --text: #f1f9ff;
}

// Theme 5 - Dark Purple
[data-theme="5"] {
  --background: #38004d;
  --text: #f1f9ff;
}

// Theme 6 - Dark Yellow
[data-theme="6"] {
  --background: #3e2b07;
  --text: #f1f9ff;
}


*,
*::after,
*::before {
  box-sizing: border-box;
  position: relative;
}

::selection {
  color: colors.$color-yellow;
  text-shadow: none;
}

html,
body {
  background: var(--background);
  color: var(--text);
  transition: all 400ms;
}

body {
  @include grid.flex;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  height: 100%;
}

.theme-switch {
  background: none;
  display: block;
  position: sticky;
  top: 36px;
  left: 36px;
  z-index: 100;
  height: 10px;
  width: 300px;
  cursor: pointer;

  @include grid.screen-medium {
    top: 44px;
    left: 44px;
  }

  @include grid.screen-large {
    top: 60px;
    left: 60px;
  }

  .switch {
    display: inline-block;
    width: 40px;
    height: 40px;
    background-image: url('/assets/images/circle.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    box-sizing: border-box;
    transition: .5s all ease-in-out;
    
    @include grid.screen-medium {
      width: 44px;
      height: 44px;
    }

    @include grid.screen-large {
      width: 48px;
      height: 48px;
    }

    &.tap-animation {
      animation: borderPulse 0.3s cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  .clickme {
    display: inline-block;
    opacity: 0;
    font-size: 24px;
    font-family: type.$type-orpheus;
    font-weight: type.$type-weight-semi-bold;
    transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

    @include grid.screen-medium {
      vertical-align: top;
      width: 200px;
      margin-top: -20px;
      padding-left: 10px;
    }
    .clickme-arrow {
      @include grid.screen-medium {
        height:18px;
        width:18px;
        margin-bottom: 8px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        box-sizing: border-box;
        transform: rotate(5deg);
        background-image: url('/assets/images/cursor.png');
      }
    }
  }

  &:hover {
    transition: .5s all ease-in-out;
    @include grid.screen-medium {
      .switch {
        background-image: url('/assets/images/circle-hover.png');
      }
      .clickme {
        opacity: 1;
        transform: translateY(28px);
      }
    }
  }
}

@keyframes borderPulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
  }
}

html.light-theme, body.light-theme {
  color: var(--text);
  background: var(--background);

  ::selection {
    color: colors.$color-dark-green;
    text-shadow: none;
  }

  hr, span.label {
    background-color: rgba(29, 28, 29, 0.13) !important;
  }

  a {
    color: var(--text);
    box-shadow: inset 0 -1px var(--text);
    text-decoration: none;
    text-transform: none;
    &:hover {
      box-shadow: inset 0 -4px var(--text);
    }
  }

  .emdash {
    background-color: var(--text) !important;
  }

  .works-item:hover {
    background-color: color.scale(colors.$color-black, $alpha: -95%) !important;
  }

  .theme-switch {
    background: none;

    &:hover {
      .clickme-arrow {
        font-family: type.$type-orpheus;
        background-image: url('/assets/images/cursor-dark.png');
      }
    }
  }
}
