// Importing all styles

@use "sass:color";
@use "colors";
@use "reset";
@use "grid";
@use "type";
@use "base";
@use "home";
@use "blog";

code {
  font-family: type.$type-source-code;
  color: colors.$color-red;
  display: inline;
  word-wrap: break-word;
  font-size: 13px;
  background-color: color.scale(colors.$color-red, $lightness: 40%);
  padding: 2px 4px;
  border-radius: 4px;

  @include grid.screen-medium {
    font-size: 15px;
  }
}

pre {
  font-family: type.$type-source-code;
  font-size: 12px;
  color: colors.$color-red;
  border: 1px solid color.scale(colors.$color-light-gray, $lightness: 5%);
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  max-width: none;

  @include grid.screen-medium {
    font-size: 14px;
  }
}
