$color-white: #fff;
$color-black: #0e0e0e;
$color-light-gray: #f4f4f4;
$color-gray: #9a9898;
$color-blue: #0046fe;
$color-red: #fa0a1e;
$color-orange: #fa6e0a;
$color-yellow: #fae60a;
$color-green: #1efa0a;
