// Importing all styles

@use "sass:color";
@use "colors";
@use "reset";
@use "grid";
@use "type";
@use "base";
@use "home";
@use "blog";
@use "code";
@use "imagery";
@use "lists";

.error {
  height: 100%;
  background: url("https://raw.github.com/drocarmo/gifs/master/upset/wwe.gif") no-repeat center;
  background-size: cover;

  body {
    background: none;
    color: colors.$color-white;
  }

  .error__text {
    p {
      a {
        color: inherit;
      }

      .small {
        font-size: 14px;
        text-transform: uppercase;
      }
    }
  }
}