// Home page style

.header-image {
  background-image: url('/assets/images/index-mobile.png');
  background-position: top right;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
  opacity: 70%;
  top: 8px;
  right: -24px;
  overflow: hidden;
  position: absolute;
  height: 100%;
  width: 360px;

 @include screen-medium {
    background-image: url('/assets/images/index-tablet.png');
    width: 600px;
 }

 @include screen-large {
    background-image: url('/assets/images/index.png');
    width: 45%;
    max-width: 580px;
    opacity: 70%;
    top: 0px;
  } 
}

.home {

  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 20px;
  padding-top: 150px;
  overflow: hidden;

  @include screen-medium {
    padding-top: 200px;
    margin: 30px;
  }

  @include screen-large {
    padding-top: 0px;
    margin: 60px;
  }

  .header {
    h1 {
      display: flex;
      span.rotate {
        &:hover {
          rotate: 360deg;
          transition: .9s all ease-in-out;
        }
      }

      span.emdash {
        content: "";
        display: flex;
        align-self: center;
        flex-grow: 1;
        height: 8px;
        margin-top:6px;
        background-color: $color-white;
      }
    }

    h2 {
      margin-top:-36px;

      @include screen-medium {
        margin-top:-20px;
      }
    }

    @include screen-medium {
      h1 {
        span.emdash {
          display: flex;
          height: 12px;
        }
      }
      h2 {
        margin-top:-40px;
      }
    }

    @include screen-large {
      width: 70%;
      max-width: 1200px;
      position: relative;
      z-index: 1000;
      h1 {
        span.emdash {
          display: flex;
          height: 16px;
          margin-top:18px;
        }
      }
      h2 {
        margin-top:-80px;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include screen-medium {
      gap: 100px;
      max-width: 700px;
    }

    h3 {
      text-align: center;

      @include screen-medium {
        text-align: left;
      }
    }

    .writing {
      b {
        display: flex;
        span.emdash {
          content: "";
          max-width: 0;
          opacity: .0;
        }
      }
    }

    .works {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 100%;

      .speaking {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        margin-top: 10px;
        gap: 16px;

        img {
          display: flex;
          flex-wrap: wrap;
          flex-shrink: 0;
          min-width: 0;
          max-width: 800px;
          border-radius: 16px;
        }
      }

      .works-item {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        @include screen-medium {
          align-items: center;
          gap: 24px;
        }

        .works-title a {
          display: flex;
          flex-direction: column;
          align-self: flex-start;
          gap: 12px;

          h4 {
            display: none;

            @include screen-medium {
              margin: 0px;
              display: flex;
              align-self: flex-start;
            }
          }

          p {
            margin: 0px;
          }
        }

        .works-img img {
          display: flex;
          border-radius: 16px;
          max-width: 120px;

          @include screen-medium {
            max-width: 200px;
          }
        }

        &:hover {
          .works-img img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
            transition: .5s all ease-in-out;
          }
        }

        span.label {
          padding: 8px 10px;
          border-radius: 9px;
          background-color: rgba(209, 210, 211, 0.13);
        }

        a {
          box-shadow: none;
          color: var(--text);
          text-decoration: none;
          text-transform: none;

          &:hover {
            color: var(--text);
            box-shadow: none;
          }
        }
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 16px;

    @include screen-medium {
      gap: 32px;
    }
  }
}
