// Home page style

.header-right {
 @include screen-large {
    background-image: url('/assets/images/index.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 0;
    opacity: 70%;
    right: -24px;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 500px;
  } 
}

.home {
  h2,h3,p {
    opacity: 80%;
  }

  h4 {
    opacity: 60%;
  }

  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 20px;
  overflow: hidden;


  @include screen-medium {
    margin: 30px;
  }

  @include screen-large {
    margin: 60px;
  }

  .header {
    h1 {
      display: flex;

      span.emdash {
        content: "";
        display: flex;
        align-self: center;
        flex-grow: 1;
        height: 8px;
        margin-top:6px;
        background-color: $color-white;
      }
    }

    h2 {
      margin-top:-20px;
    }

    @include screen-medium {
      h1 {
        span.emdash {
          display: flex;
          height: 12px;
        }
      }
      h2 {
        margin-top:-40px;
      }
    }

    @include screen-large {
      width: 70%;
      max-width: 1200px;
      position: relative;
      z-index: 1000;
      h1 {
        span.emdash {
          display: flex;
          height: 16px;
          margin-top:18px;
        }
      }
      h2 {
        opacity: 80%;
        margin-top:-80px;
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 32px;

    @include screen-medium {
      gap: 100px;
      max-width: 700px;
    }

    .works {
      display: flex;
      flex-direction: column;
      gap: 32px;
      width: 100%;

      .speaking {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        justify-content: flex-start;
        margin-top: 10px;
        gap: 16px;

        img {
          display: flex;
          flex-wrap: wrap;
          flex-shrink: 0;
          min-width: 0;
          max-width: 800px;
          border-radius: 16px;
        }
      }

      .works-item {
        display: flex;
        flex-direction: row;
        flex-basis: 100%;
        flex-wrap: nowrap;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;

        @include screen-medium {
          align-items: center;
          gap: 24px;
        }

        .works-title a {
          display: flex;
          flex-direction: column;
          align-self: flex-start;
          gap: 12px;

          h4 {
            display: none;

            @include screen-medium {
              margin: 0px;
              display: flex;
              align-self: flex-start;
            }
          }

          p {
            margin: 0px;
          }
        }

        .works-img img {
          display: flex;
          border-radius: 16px;
          max-width: 120px;

          @include screen-medium {
            max-width: 200px;
          }
        }

        &:hover {
          .works-img img {
            -webkit-filter: grayscale(100%);
            filter: grayscale(100%);
          }
        }

        span {
          padding: 8px 12px;
          border-radius: 16px;
          background-color: rgba(209, 210, 211, 0.13);
        }

        a {
          box-shadow: none;
          color: var(--text);
          text-decoration: none;
          text-transform: none;

          &:hover {
            color: var(--text);
            box-shadow: none;
          }
        }
      }
    }
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    margin-top: 40px;
    gap: 16px;

    @include screen-medium {
      gap: 32px;
    }
  }
}
