// Home page style

section {
  display: block;
  margin: 50px auto;
}

.about {
  .avatar {
    @include screen-large {
      background-image: url('/assets/images/avatar.png');
      background-size: 400px;
      background-repeat: no-repeat;
      background-position: fixed;
      height: 400px;
    }
  }
  a.popup__link {
    position: relative;
    box-shadow: none;

    span {
      display: none;
      position: absolute;
      z-index: 99;
    }

    &:hover span {
      display: block;
    }
  }

  .about__text {
    h5:first-child:first-letter {
      float: left;
      font-size: 80px;
      line-height: 60px;
      padding-left: 2px;
      padding-right: 12px;
      padding-top: 9px;
    }
    word-wrap: break-word;
    @include screen-large {
      margin: 0px 0px 50px 160px;

      h3, h5 {
        float: left;
        width: 45%;
        margin: 10px 2.5%;
      }
    }
  }
}

.posts {
  @include screen-large {
    margin: 10px auto;
    float: left;
    width: 68%;
    word-wrap: break-word;
  }

  .post {
    @include screen-medium {
      float: left;
      width: 48%;
      margin: auto 2% auto 0;
    }

    a {
      box-shadow: none;

      &:hover, &:active {
        color: $color-gray;
      }
    }

    .date {
      margin-top: -20px;
      color: $color-gray;
      font-style: $type-style-italic;
    }
  }
}

.projects {
  @include screen-large {
    margin: 10px auto;
    float: left;
    width: 32%;
    word-wrap: break-word;
  }

  .featured_project {
    margin: 20px auto;
    min-height: 30px;
    width: 100%;
    overflow: hidden;
    background-size: 100%;
    background-color: $color-white;
    box-shadow: 0px 2px 8px 0px rgba(31,29,29,0.10);
    transition: all 50ms;

    a {
      text-decoration: none;
      color: $color-black;
    }

    .featured_project__text {
      word-wrap: break-word;
      padding: 20px;

      h4,
      h5 {
        margin: 0 auto;
      }

      h5 {
        color: $color-gray;
      }
    }
  }

  .featured_project__resources {
    &:hover,&:active {
      box-shadow: inset 0px 0px 0px 4px #e83943;

      h4,h5 {
        color: #e83943;
      }
    }
  }

  .featured_project__elenco {
    &:hover,&:active {
      box-shadow: inset 0px 0px 0px 4px #2aa876;

      h4,h5 {
        color: #2aa876;
      }
    }
  }

  .featured_project__wheat {
    &:hover,&:active {
      box-shadow: inset 0px 0px 0px 4px $color-blue;

      h4,h5 {
        color: $color-blue;
      }
    }
  }
}

.footer {
  clear: both;
  @include screen-large {
    padding-top: 200px;
  }
}
