// Home page style

.avatar {
  background-image: url('/assets/images/avatar-small.png');
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
  z-index: 2;
  top: 20px;
  left: 20px;
  width: 90%;
  height: 300px;
  overflow: hidden;

  @include screen-medium {
    height: 600px;
    width: 80%;
    background-position: center;
  }

  @include screen-large {
    position: fixed;
    background-image: url('/assets/images/avatar.png');
    height: 100%;
    width: 48%;
  }
}

.home {
  height: auto;
  width: 100%;

  @include screen-large {
    position: relative;
    width: 50%;
    left: 50%;
  }

  h2 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 60px;
    padding: 10px 0;

    @include screen-large {
      margin-top: 160px;
    }
  }

  .about {
    padding: 20px;

    .looking {
      margin-bottom: 60px;
      padding: 12px 20px;
      box-shadow: 0 3px 6px 2px rgba(0,0,0,0.10);
      border-radius: 10px;

      @include screen-medium {
        box-shadow: none;
        padding: 0;
      }

      a, #contact {
        color: darken($color-gray,30%);
        box-shadow: none;

        @include screen-medium {
          color: darken($color-gray,30%);
          padding: 12px 20px;
          box-shadow: 0 3px 6px 2px rgba(0,0,0,0.10);
          border: 1px solid $color-white;
          border-radius: 8px;
          &:hover {
            border: 1px solid $color-light-gray;
            box-shadow: none;
          }
        }
      }
    }

    @include screen-medium {
      padding: 40px;
    }
    @include screen-large {
      padding: 80px;
    }
  }
}

.contact {
  margin-bottom: 300px;
}

.posts {
  @include screen-large {
    width: 100%;
    word-wrap: break-word;
  }

  .post {
    @include screen-medium {
      float: left;
      width: 48%;
      margin: auto 2% auto 0;
    }

    a {
      box-shadow: none;

      &:hover, &:active {
        color: $color-gray;
      }
    }

    .date {
      margin-top: -20px;
      color: $color-gray;
    }
  }
}
