// Home page style

.header-right {
  @include screen-medium {
    // height: 820px;
    // width: 874px;
  }

  @include screen-large {
    background-image: url('/assets/images/index.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    top: 50px;
    left: 60%;
    overflow: hidden;
    position: absolute;
    height: 80%;
    width: 40%;
  }
}

.header-left {
  @include screen-medium {
    // height: 820px;
    // width: 874px;
  }

  @include screen-large {
    background-image: url('/assets/images/index-2.png');
    background-position: top right;
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
    top: 800px;
    left: 0px;
    overflow: hidden;
    position: absolute;
    height: 80%;
    width: 40%;
  }
}

.home {
  height: auto;
  width: 100%;
  padding: 20px;

  @include screen-large {
    position: relative;
    width: 100%;
    padding: 20px 60px;
    z-index: 1000;
    span.emdash {
      content: "";
      display: inline-block;
      right: 20px;
      top: -20px;
      margin-top: -1.5px;
      width: 300px;
      height: 15px;
      background-color: $color-black;
    }
  }

  .about-left {
    @include screen-large {
      width: 50%;
      padding: 0px;

      h2 {
      font-size: 60px;
      }
    }
  }
  .about-right {
    @include screen-large {
      margin-top: 400px;
      width: 50%;
      left: 50%;

      h3 {
        font-size: 40px;
        font-weight: $type-weight-bold;
        a:hover {
          box-shadow: inset 0 70px $color-black;
        }
      }
    }
  }
}

.posts {
  @include screen-large {
    width: 100%;
    word-wrap: break-word;
  }

  .post {
    @include screen-medium {
      float: left;
      width: 48%;
      margin: auto 2% auto 0;
    }

    a {
      box-shadow: none;

      &:hover, &:active {
        color: $color-gray;
      }
    }

    .date {
      margin-top: -20px;
      color: $color-gray;
    }
  }
}
