// Importing all styles

@use "sass:color";
@use "colors";
@use "reset";
@use "grid";
@use "type";
@use "base";

// Home page style

.home {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  margin: 20px 20px;
  padding-top: 40px;
  max-width: 1200px;

  @include grid.screen-medium {
    margin: 30px 30px;
    padding-top: 60px;
  }

  @include grid.screen-large {
    padding-top: 40px;
    margin: 60px auto;
  }

  .header {
    padding: 16px;
    
    h1 {
      display: flex;
      margin-bottom: 0px;
      span.rotate {
        transition: .9s all ease-in-out;
        &:hover {
          rotate: 360deg;
          transition: .9s all ease-in-out;
        }
      }
      span.emdash {
        content: "";
        display: flex;
        align-self: center;
        flex-grow: 1;
        height: 6px;
        margin-top:6px;
        margin-left: 8px;
        margin-right: 8px;
        background-color: colors.$color-white;
        opacity: .1;
        border-radius: 8px;
        transition: .5s all ease-in-out;
      }
    }
    
    @include grid.screen-medium {
      h1 {
        margin-bottom: 16px;
        span.emdash {
          height: 10px;
          margin-left: 16px;
          margin-right: 16px;
        }
      }
    }

    @include grid.screen-large {
      h1 {
        margin-bottom: 24px;
        span.emdash {
          height: 12px;
          margin-left: 24px;
          margin-right: 24px;

          &:hover {
            opacity: 1;
            margin-left: 100px;
            margin-right: 100px;
            transition: .5s all ease-in-out;
          }
        }
      }
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @include grid.screen-medium {
      gap: 24px;
    }

    .intro {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 16px;
      margin-bottom: 32px;

      @include grid.screen-medium {
        flex-direction: row;
        align-items: center;
        gap: 20px;
      }
      
      @include grid.screen-large {
        gap: 60px;
      }

      .intro-image {
        width: 100%;
        position: relative;
        transition: transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
        border-radius: 16px;
        overflow: hidden;
        
        img {
          width: 100%;
          border-radius: 16px;
          height: auto;
          display: block;
          mix-blend-mode: luminosity;
        }
        
        .intro-image-overlay {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: auto;
          border-radius: 16px;
          opacity: 0;
          pointer-events: none;
          display: block;
          mix-blend-mode: luminosity;
          transition: opacity 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          
          &.fading-out {
            transition: opacity 0.2s cubic-bezier(0.55, 0.06, 0.68, 0.19);
          }
        }
        
        
        @include grid.screen-large {
          width: 35%;
        }
      }

      .intro-text {
        display: flex;
        flex-direction: column;
        gap: 16px;

        @include grid.screen-large {
          width: 65%;
        }

        p {
          margin: 0;
          
          &:last-child {
            margin-top: 8px;
          }
        }
        .inline-logo {
          height: 1em;
          width: auto;
          vertical-align: middle;
          margin: -6px 2px 0px;
          display: inline-block;
          transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

          &:hover {
          transform: translateY(-6px) translateX(0px) rotate(-6deg);

          img {
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          }
        }
        }
      }
    }

    .works {
      display: flex;
      flex-direction: column;
      gap: 16px;
      width: 100%;

      h3 {
        text-align: center;

        .decorator {
          opacity: .3;
          margin: 0px 16px;
          display: inline-block;
          transition: .5s all ease-in-out;

          @include grid.screen-large {
            margin: 0px 30px;
            
            &:hover {
              opacity: 1;
              transition: .5s all ease-in-out;
            }
          }
        }
      }

      .works-row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
        gap: 12px;
        width: 100%;
        margin-bottom: 32px;

        @include grid.screen-medium {
          grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
          gap: 16px;
        }

        @include grid.screen-large {
          grid-template-columns: repeat(auto-fill, minmax(380px, 1fr));
          gap: 24px;
        }

        .works-item {
          text-align: center;
          display: flex;
          flex-direction: column;
          gap: 12px;
          padding: 16px;
          transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          transform: translateY(0);
          background-color: transparent;
          border-radius: 16px;

          .works-img {
            border-radius: 12px;
            .align-bottom {
              object-position: bottom !important;
            }
            .align-top {
              object-position: top !important;
            }
          }

          &:hover {
            transform: translateY(-8px);
            background-color: color.scale(colors.$color-white, $alpha: -95%);

            .works-title {
              transform: translateY(-4px);
            }
          }

          .works-img {
            width: 100%;
            aspect-ratio: 16/10;
            overflow: hidden;
            
            a {
              box-shadow: none;
              width: 100%;
              height: 100%;
              display: block;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              border-radius: 16px;
              transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

              &:hover {
                border-radius: 12px;
                transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);
              }
            }
          }

          .works-title {
            transition: all 0.3s cubic-bezier(0.4, 0, 0.2, 1);

            a {
              display: flex;
              flex-direction: column;
              box-shadow: none;

              p {
                margin: 0;
                font-weight: 400;
              }
            }
          }
        }
      }
    }

    .talks {
      display: flex;
      flex-direction: column;
      gap: 24px;
      padding: 16px;
      width: 100%;
      margin-bottom: 200px;
      overflow: hidden;

      @include grid.screen-large {
        overflow: visible;
      }

      h3 {
        text-align: center;

        .decorator {
          opacity: .3;
          margin: 0px 16px;
          display: inline-block;
          transition: .5s all ease-in-out;

          @include grid.screen-large {
            margin: 0px 30px;
            
            &:hover {
              opacity: 1;
              transition: .5s all ease-in-out;
            }
          }
        }
      }

      .talks-item {
        position: relative;
        width: 100%;
        
        a {
          box-shadow: none;
          transition: all 0.3s ease;
          display: flex;
          justify-content: space-between;
          align-items: center;
          padding: 16px;
          border-radius: 8px;
          p {
            font-weight: 400;
          }

          .preview-image {
            position: absolute;
            left: 640px;
            top: -20px;
            width: 460px;
            height: 300px;
            border-radius: 24px;
            background-color: color.scale(colors.$color-white, $alpha: -95%);
            object-fit: cover;
            opacity: 0;
            transform: translateY(16px);
            pointer-events: none;
            transition: opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1), 
                        transform 0.3s cubic-bezier(0.4, 0, 0.2, 1);
          }

          @include grid.screen-large {
            &:hover {
              .preview-image {
                opacity: 1;
                transform: translateY(-8px);
                pointer-events: auto;
              }
            }
          }
        }
      }
    }
  }
}
