// Home page style

.avatar {
  background-image: url('/assets/images/avatar.jpg');
  background-size: cover;
  background-position: center;
  box-shadow: 0 2px 6px -2px rgba(22,22,22,0.45);
  height: 200px;
  width: 200px;
  top: 100px;
  left: 20%;

  @include screen-medium {
    top: 120px;
    height: 300px;
    width: 300px;
  }
  @include screen-large {
    z-index: 2;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url('/assets/images/avatar.jpg');
    background-repeat: no-repeat;
    height: 100%;
    width: 44%;
    border-right: 10px solid $color-black;
  }
}

.home {
  height: auto;
  width: 100%;

  @include screen-large {
    position: relative;
    width: 56%;
    left: 44%;

    .left {
      left: -40px;
    }
    .right {
      left: 100px;
    }
  }

  h2 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 60px;
  }

  .about {
    padding: 20px;

    @include screen-medium {
      padding: 40px;
    }
    @include screen-large {
      padding: 60px 80px 60px 80px;
    }
  }
}

.posts {
  @include screen-large {
    width: 100%;
    word-wrap: break-word;
  }

  .post {
    @include screen-medium {
      float: left;
      width: 48%;
      margin: auto 2% auto 0;
    }

    a {
      box-shadow: none;

      &:hover, &:active {
        color: $color-gray;
      }
    }

    .date {
      margin-top: -20px;
      color: $color-gray;
      font-style: $type-style-italic;
    }
  }
}
