// Importing all styles

@use "sass:color";
@use "colors";
@use "reset";
@use "grid";
@use "type";
@use "base";
@use "home";
@use "blog";
@use "code";

// Image styles for the blog

figure {

  img {
    width: 100%;
    @include grid.flex;
  }

  figcaption {
    font-size: 12px;
    color: color.scale(colors.$color-light-gray, $lightness: -30%);

    a {
      color: inherit;
    }

    @include grid.screen-medium {
      font-size: 14px;
    }
  }

  &.big {
    clear: both;
    width: 100%;
    padding: 20px 0;

    @include grid.screen-large {
      width: 120%;
      margin-left: -10%;
    }
  }

  &.medium {
    clear: both;
    width: 80%;
    padding: 20px 0;
    margin-left: 10%;

    @include grid.screen-large {
      width: 60%;
      margin-left: 20%;
    }
  }

  &.small-left {
    width: 100%;

    @include grid.screen-large {
      float: left;
      max-width: 30%;
      margin-left: -35%;
    }
  }

  &.small-right {
    width: 100%;

    @include grid.screen-large {
      float: right;
      max-width: 30%;
      margin-right: -35%;
    }
  }

  &.grid-2-left {
    width: 100%;

    @include grid.screen-large {
      float: left;
      width: 49%;
    }
  }

  &.grid-2-right {
    width: 100%;

    @include grid.screen-large {
      float: left;
      width: 49%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

// Video styles for the blog

video {
  width: 100%;

  @include grid.screen-medium {
    width: auto;
  }
}
