ul {
  list-style: none;

  li {
    text-indent: -28px;
    font-size: 16px;
    font-weight: $type-weight-light;
    word-wrap: break-word;

    @include screen-medium {
      font-size: 18px;
    }

    &:before {
      content: "→";
      margin-right: 10px;
      color: $color-black;
    }
  }
}
