// Importing all styles

@use "sass:color";
@use "colors";
@use "reset";
@use "grid";
@use "type";
@use "base";
@use "home";
@use "blog";
@use "code";
@use "imagery";

ul {
  list-style: none;

  li {
    text-indent: -28px;
    font-size: 16px;
    font-weight: type.$type-weight-light;
    word-wrap: break-word;

    @include grid.screen-medium {
      font-size: 18px;
    }

    &:before {
      content: "→";
      margin-right: 10px;
      color: colors.$color-black;
    }
  }
}
