// Typography variables

$type-avant: "itc-avant-garde-gothic-pro", sans-serif;
$type-orpheus: "orpheuspro", serif;
$type-source-code: "source-code-pro", sans-serif;
$type-weight-light: 300;
$type-weight-regular: 400;
$type-weight-semi-bold: 600;
$type-weight-bold: 700;
$type-style-italic: italic;
$type-style-normal: normal;
$line-height-headings: 1.4;
$line-height: 1.5;

// Document type styles

body {
  font-family: $type-orpheus;
  font-weight: $type-weight-regular;
  font-style: $type-style-normal;
  color: $color-light-gray;
  line-height: $line-height;
  word-wrap: break-word;
}

h1 {
  font-family: $type-avant;
  font-weight: $type-weight-bold;
  line-height: $line-height-headings;
  font-size: 30px;

  @include screen-medium {
    font-size: 100px;
  }
}

h2 {

  font-family: $type-orpheus;
  font-weight: $type-weight-bold;
  line-height: $line-height;
  font-size: 24px;

  @include screen-medium {
    font-size: 40px;
  }
}

h3 {
  font-family: $type-orpheus;
  font-size: 22px;
  line-height: $line-height-headings;

  @include screen-medium {
    font-size: 24px;
  }
}

h4 {
  font-family: $type-orpheus;
  font-weight: $type-weight-bold;
  line-height: $line-height;
  font-size: 18px;

  @include screen-medium {
    font-size: 22px;
  }
}


h5 {
  font-size: 16px;

  @include screen-medium {
    font-size: 18px;
  }
}

p {
  font-size: 18px;

  @include screen-medium {
    font-size: 20px;
  }
}

strong {
  font-weight: $type-weight-bold;
}

a {
  box-shadow: inset 0 -1px $color-black;
  color: $color-black;
  text-decoration: none;
  text-transform: none;
  transition: all 400ms;

  &:hover {
    color: $color-white;
    box-shadow: inset 0 30px $color-black;
  }


}

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 4px solid $color-light-gray;
}

hr {
  border: 0;
  margin: 0 0 60px auto;
  padding-top: 60px;
  clear: both;
}
