// Typography variables

$type-avant: "itc-avant-garde-gothic-pro", sans-serif;
$type-orpheus: "orpheuspro", serif;
$type-source-code: "source-code-pro", sans-serif;
$type-weight-light: 300;
$type-weight-regular: 400;
$type-weight-semi-bold: 600;
$type-weight-bold: 700;
$type-style-italic: italic;
$type-style-normal: normal;
$line-height-headings: 1.4;
$line-height: 1.5;

// Document type styles

body {
  font-family: $type-orpheus;
  font-weight: $type-weight-regular;
  font-style: $type-style-normal;
  color: $color-light-gray;
  line-height: $line-height;
  word-wrap: break-word;
}

h1 {
  font-family: $type-avant;
  font-weight: $type-weight-bold;
  line-height: $line-height-headings;
  font-size: 48px;

  @include screen-medium {
    font-size: 80px;
  }
}

h2 {
  font-family: $type-orpheus;
  font-weight: $type-weight-bold;
  line-height: $line-height;
  font-size: 30px;

  @include screen-medium {
    font-size: 60px;
  }
}

h3 {
  font-family: $type-avant;
  font-size: 16px;
  line-height: $line-height-headings;
  font-weight: $type-weight-bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
}

h4 {
  font-family: $type-avant;
  font-size: 14px;
  line-height: 1;
  font-weight: $type-weight-bold;
  text-transform: uppercase;
  letter-spacing: .1rem;

  @include screen-medium {
    font-size: 16px;
  }
}


h5 {
  font-size: 16px;

  @include screen-medium {
    font-size: 18px;
  }
}

p {
  font-size: 24px;

  @include screen-medium {
    font-size: 30px;
  }
}

strong {
  font-weight: $type-weight-bold;
}

a {
  box-shadow: inset 0 -1px var(--text);
  color: var(--text);
  text-decoration: none;
  text-transform: none;
  transition: all 400ms;
  &:hover {
    box-shadow: inset 0 -4px var(--text);
  }
}

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 4px solid $color-light-gray;
}

hr {
  display: flex;
  align-self: flex-start;
  width: 100%;
  max-width: 800px;
  background-color: rgba(209, 210, 211, 0.05);
  border: 0;
  height: 4px;
  clear: both;
}
