// Importing all styles

@use "sass:color";
@use "colors";
@use "reset";
@use "grid";

// Typography variables

$type-avant: "itc-avant-garde-gothic-pro", sans-serif;
$type-orpheus: "orpheuspro", serif;
$type-source-code: "source-code-pro", sans-serif;
$type-olicana: "olicana-smooth", sans-serif;
$type-weight-light: 300;
$type-weight-regular: 400;
$type-weight-medium: 500;
$type-weight-semi-bold: 600;
$type-weight-bold: 700;
$type-style-italic: italic;
$type-style-normal: normal;
$line-height-headings: 1.4;
$line-height: 1.5;

// Document type styles

body {
  font-family: $type-orpheus;
  font-weight: $type-weight-regular;
  font-style: $type-style-normal;
  color: colors.$color-light-gray;
  line-height: $line-height;
  word-wrap: break-word;
  opacity: 0;
  transform: translateY(2px);
  animation: fadeInUp .8s ease-out forwards;

  @keyframes fadeInUp {
    0% {
      opacity: 0;
      transform: translateY(12px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
}

h1 {
  font-family: $type-avant;
  font-weight: $type-weight-bold;
  line-height: $line-height-headings;
  font-size: 32px;

  @include grid.screen-medium {
    font-size: 40px;
  }
  @include grid.screen-large {
    font-size: 60px;
  }
}

h2 {
  font-family: $type-orpheus;
  font-weight: $type-weight-bold;
  line-height: $line-height;
  font-size: 30px;

  @include grid.screen-medium {
    font-size: 32px;
  }
}

h3 {
  font-family: $type-avant;
  font-size: 14px;
  line-height: $line-height-headings;
  font-weight: $type-weight-bold;
  text-transform: uppercase;
  letter-spacing: .1rem;
  @include grid.screen-medium {  
    font-size: 16px;
  }
}

h4 {
  font-family: $type-avant;
  font-size: 12px;
  line-height: 1;
  font-weight: $type-weight-bold;
  text-transform: uppercase;
  letter-spacing: .1rem;

  @include grid.screen-medium {
    font-size: 14px;
  }
}


h5 {
  font-size: 16px;

  @include grid.screen-medium {
    font-size: 18px;
  }
}

p {
  font-size: 20px;
  font-weight: 500;

  @include grid.screen-medium {
    font-size: 24px;
  }

  &.cursive {
    font-family: $type-olicana;
    font-size: 40px;
  }
}

strong {
  font-weight: $type-weight-bold;
}

a {
  box-shadow: inset 0 -.5px var(--text);
  color: var(--text);
  text-decoration: none;
  text-transform: none;
  transition: all 400ms;
  &:hover {
    box-shadow: inset 0 -4px var(--text);
  }
}

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 4px solid colors.$color-light-gray;
}

hr {
  display: flex;
  align-self: flex-start;
  width: 100%;
  max-width: 800px;
  background-color: rgba(209, 210, 211, 0.05);
  border: 0;
  height: 4px;
  clear: both;
}
