// Base declarations

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

::selection {
  background: $color-black;
  color: $color-white;
  text-shadow: none;
}

html, body {
  height: 100%;
}

body {
  @include flex;
}
