// Base declarations

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

::selection {
  color: $color-yellow;
  text-shadow: none;
}

html,
body {
  height: 100%;
  background: lighten($color-light-gray, 3%);

  &.body-home {
    @include screen-large {
      background-image: url(/assets/images/bkg.jpg);
      background-size: 100%;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
  }

}

body {
  @include flex;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}
