// Blog button mixin

@mixin blog-button {
  a {
    font-size: .875em;
    text-decoration: none;
    border: 1px solid $color-gray;
    color: $color-gray;
    border-radius: 4px;
    padding: 10px;

    &:hover,
    &:active {
      border: 1px solid $color-black;
      color: $color-black;
    }
  }
}

// Button styles

.back {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 2%;

  @include screen-medium {
    top: 30px;
  }

  @include blog-button;
}

.next {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 2%;

  @include screen-large {
    top: 30px;
  }

  @include blog-button;
}

// Blog styles

.blog {
  padding-top: 80px;
  margin-bottom: 100px;

  @include screen-large {
    padding-top: 40px;
    padding-bottom: 150px;
  }

  h3 {
    padding: 40px 0;
  }

  h4 {
    margin-bottom: 50px;

    @include screen-medium {
      margin-bottom: 100px;
    }
  }

  #disqus_thread {
    margin-top: 100px;

    @include screen-medium {
      margin-top: 200px;
    }
  }
}
