// Blog button mixin

@mixin blog-button {
  a {
    font-size: .875em;
    text-decoration: none;
    background-color: $color-light-gray;
    border: 0;
    border-radius: 4px;
    color: $color-gray;
    padding: 10px;

    &:hover,
    &:active {
      background-color: darken($color-light-gray, 3%);
    }
  }
}

// Button styles

.back {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 2%;

  @include screen-medium {
    top: 30px;
  }

  @include blog-button;
}

.next {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 2%;

  @include screen-large {
    top: 30px;
  }

  @include blog-button;
}

// Blog styles

.blog {
  padding-top: 80px;
  margin-bottom: 100px;

  @include screen-large {
    padding-top: 40px;
    padding-bottom: 150px;
  }

  h1 {
    font-size: 26px;
    font-weight: $type-weight-bold;
    line-height: 1.65;

    @include screen-medium {
      font-size: 28px;
    }
  }

  h3 {
    padding: 40px 0;
  }

  h4 {
    margin-bottom: 50px;

    @include screen-medium {
      margin-bottom: 100px;
    }
  }

  ul {
    list-style: none;

    li {
      text-indent: -28px;
      font-size: 16px;
      font-weight: $type-weight-light;
      word-wrap: break-word;

      @include screen-medium {
        font-size: 18px;
      }

      &:before {
        content: "→";
        margin-right: 10px;
        color: $color-black;
      }
    }
  }

  #disqus_thread {
    margin-top: 100px;

    @include screen-medium {
      margin-top: 200px;
    }
  }
}
