// Blog buttons

// Blog button mixin

@mixin blog-button {
  a {
    font-size: 0.875em;
    text-decoration: none;
    background-color: $color-light-gray;
    border: none;
    border-radius: 5px;
    color: $color-gray;
    padding: 10px;
    &:hover,&:active {
      background-color: darken($color-light-gray,3%);
    }
  }
}

// Button styles

.back {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 2%;
  @include screen-medium {
    top: 30px;
  }
  @include blog-button;
}

.next {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 2%;
  @include screen-large {
    top: 30px;
  }
  @include blog-button;
}

// Blog styles

.blog {
  padding-top: 80px;
  margin-bottom: 100px;
  @include screen-large {
    padding-top: 40px;
    padding-bottom: 150px;
  }
  h4 {
    margin-bottom: 50px;
    @include screen-medium {
      margin-bottom: 100px;
    }
  }
  h3 {
    padding: 40px 0px;
  }
  img {
    border-radius: 5px;
    width: 100%;
    @include flex;
    &:hover {
      opacity: 0.9;
    }
  }
  #disqus_thread {
    margin-top: 100px;
    @include screen-medium {
      margin-top: 200px;
    }
  }
}
