// Blog button mixin

@mixin blog-button {
  a {
    font-size: .9em;
    color: $color-gray;
    border-bottom: none;
    background: $color-white;
    padding: 15px;

    &:hover,
    &:active {
      color: $color-black;
    }
  }
}

// Button styles

.back {
  z-index: 1000;
  position: fixed;
  top: 20px;
  left: 2%;

  @include screen-medium {
    top: 30px;
  }

  @include blog-button;
}

.next {
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 2%;

  @include screen-large {
    top: 30px;
  }

  @include blog-button;
}

// Blog styles

.blog {
  padding-top: 80px;
  margin-bottom: 100px;

  @include screen-large {
    padding-top: 40px;
    padding-bottom: 150px;
  }

  h4 {
    padding: 40px 0;
  }

  h5 {
    margin-bottom: 50px;

    @include screen-medium {
      margin-bottom: 100px;
    }
  }

  .video {
    width: 320px;
    height: 280px;

    @include screen-medium {
      width: 560px;
      height: 315px;
    }
  }

  #disqus_thread {
    margin-top: 100px;

    @include screen-medium {
      margin-top: 200px;
    }
  }
}
