code {
  color: $color-red;
  display: inline;
  word-wrap: break-word;
}

pre {
  color: $color-red;
  background-color: lighten($color-light-gray, 5%);
  padding: 10px;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  max-width: auto;
}
