code {
  font-family: $type-source-code;
  color: $color-red;
  display: inline;
  word-wrap: break-word;
  font-size: 14px;
  background-color: lighten($color-red, 40%);
  padding: 2px 4px;
  border-radius: 4px;

  @include screen-medium {
    font-size: 15px;
  }
}

pre {
  font-family: $type-source-code;
  font-size: 12px;
  color: $color-red;
  border: 1px solid lighten($color-light-gray, 5%);
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  max-width: auto;

  @include screen-medium {
    font-size: 14px;
  }
}
