$color-white: #fff;
$color-whitesmoke: #fcfcfc;
$color-black: #292929;
$color-light-gray: #f4f4f4;
$color-gray: #868080;
$color-blue: #1464ad;
$color-red: #e83943;
$color-orange: #f5b308;
$color-yellow: #fae60a;