$color-white: #fff;
$color-whitesmoke: #fcfcfc;
$color-black: #1f1d1d;
$color-light-gray: #f4f4f4;
$color-gray: #868080;
$color-blue: #0a1efa;
$color-red: #fa0a1e;
$color-orange: #fa6e0a;
$color-yellow: #fae60a;
$color-green: #1efa0a;