// Flex

@mixin flex {
  margin: 0 auto;
}

// Screen sizes

@mixin screen-medium {
  @media screen and (min-width: 700px) {
    @content;
  }
}

@mixin screen-large {
  @media screen and (min-width: 1200px) {
    @content;
  }
}

// Container

.container {
  position: relative;
  text-align: left;
  @include flex;
  width: 85%;

  @include screen-medium {
    width: 500px;
  }

  @include screen-large {
    width: 700px;
  }
}
