// Home page style

section {
  margin: 100px auto;
  clear: both;
  display: block;

  @include screen-large {
    margin: 150px auto;
  }
}

.about {
  @include screen-large {
    width: 750px;
    margin: 0 auto 150px;
    background: url(/assets/images/head.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: 400px 5px;
    padding-top: 165px;
    h4,p {
      margin-left: 85px;

      span {
        text-decoration: line-through;
        color: darken($color-light-gray, 10%);
      }
    }
  }
}

.projects {
  // delete this later
  .soon {
    text-align: center;
    color: $color-gray;
  }
  //

  .featured_project {
    margin: 40px auto;
    min-height: 30px;
    width: 100%;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: $color-white;
    box-shadow: 0px 2px 8px 0px rgba(31,29,29,0.10);
    border-radius: 4px;
    transition: all 500ms;


    &:hover,&:active {
      background-size: 105%;
    }

    a {
      text-decoration: none;
      color: $color-black;
    }

    .featured_project__text {
      word-wrap: break-word;
      padding: 20px;

      h4,
      h5 {
        margin: 0 auto;
      }
    }
  }

  // Color classes for the projects

  // .featured_project__search {
  //   height: 300px;
  //   background-color: $color-white;
  //   background-position: 0px -25px;
  //   h4,h5 {
  //     color: $color-gray;
  //   }
  // }

  // .featured_project__storefronts {
  //   height: 300px;
  //   background-color: $color-white;
  //   background-position: 85px 0px;
  //   h4,h5 {
  //     color: $color-gray;
  //   }
  // }

  .featured_project__change {
    background-position: 50px -10px;

    @include screen-large {
      height: 300px;
    }
  }

  .featured_project__resources {
    background: none;

    &:hover,&:active {
      background: #e83943;

      a {
        color: $color-white;
      }
    }

    @include screen-large {
      background-position-y: -40px;
      background-size: 100%;
      height: 300px;

      &:hover,&:active {
        background-image: url(/assets/images/projects/resources_2.png) !important;
        background-position-y: -40px;
        background-size: 100%;
      }
    }

    a {
      color: #e83943;
    }
  }

  .featured_project__wheat {
    @include screen-large {
      float: left;
      width: 47%;
      margin-right: 3%;
      height: 150px;
    }

    a {
      color: $color-blue;
    }

    &:hover,&:active {
      background: $color-blue;

      a {
        color: $color-white;
      }
    }

  }

  .featured_project__elenco {
    @include screen-large {
      height: 150px;
      float: left;
      width: 47%;
      margin-left: 3%;
    }

    a {
      color: #2aa876;
    }

    &:hover,&:active {
      background: #2aa876;

      a {
        color: $color-white;
      }
    }
  }
}

.posts {
  .post {
    @include screen-large {
      margin: 10px auto;
      float: left;
      width: 33%;
      word-wrap: break-word;
     }

    a {
      border-bottom: 0;
    }
    .date {
      margin-top: -20px;
      color: $color-gray;
    }
  }
}