// Home page style

section {
  margin: 100px auto;
  clear: both;
  display: block;

  @include screen-large {
    margin: 200px auto;
  }
}

.about {
  @include screen-large {
    margin: 0 auto 150px;
    background: url(/assets/images/head.png);
    background-repeat: no-repeat;
    background-position: 642px 60px;
    background-size: 380px;
    padding-top: 300px;
    h4,p {
      margin-left: 85px;

      span {
        text-decoration: line-through;
        color: darken($color-light-gray, 10%);
      }
    }
  }
}

.experience {

  @include screen-large {
    background: url(/assets/images/were.png);
    background-repeat: no-repeat;
    background-position: 85px 0px;
    background-size: 313px;

    h4, p {
      margin-left: 491px;

      &.h4-bold {
        font-weight: $type-weight-bold;
      }
    }
  }
}

.projects {
  .comingsoon {
    color: darken($color-light-gray, 10%);
  }

  .featured_project {
    z-index: 1;
    margin: 40px auto;
    min-height: 30px;
    width: 100%;
    overflow: hidden;
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: 100%;

    a {
      text-decoration: none;
    }

    .featured_project__text {
      word-wrap: break-word;
      padding: 20px;

      h4,
      h5 {
        margin: 0 auto;
      }
    }
  }

  // Color classes for the projects

  .featured_project__storefronts {
    height: 300px;
    background-size: 100%;
    background-color: #fff;
    background-position-y: 0px;
    border: 4px solid $color-whitesmoke;
    h4,h5 {
      color: $color-black;
    }
  }

  .featured_project__resources {
    height: 300px;
    background-size: 90%;
    background-color: #e83943;
    background-position-y: -10px;
    a {
      color: lighten(#e83943, 45%);
    }
  }

  .featured_project__ritma {
    height: 300px;
    border: 4px solid #403f3a;
    a {
      color: $color-blue;
    }
  }

  .featured_project__elenco {
    height: 300px;
    background-color: $color-white;
    background-position: 510px -53px;
    background-size: 50%;
    border: 4px solid $color-light-gray;
    a {
      color: #2aa876;
    }
  }

  .featured_project__change {
    height: 300px;
    background-color: #fff;
    border: 4px solid $color-light-gray;
    background-position: 90px -10px;
    a {
      color: #EC2C22;
    }
  }
}

.posts {
  .post {
    @include screen-medium {
      margin: 10px auto;
      float: left;
      width: 50%;
     }

    a {
      border-bottom: 0;
    }
    .date {
      margin-top: -20px;
      color: $color-gray;
    }
  }
}