// Home page style

.about {
  padding-top: 10px;
  padding-bottom: 100px;
  @include screen-medium {
    padding-top: 40px;
    padding-bottom: 150px;
  }
  .head {
    margin-bottom: 200px;
    .intro {
      margin-top: 0px;
      h1 {
        float: left;
        width: 100%;
        margin-bottom: -20px;
        @include screen-medium {
          margin-bottom: -30px;
          width: 70%;
        }
      }
      p {
        float: left;
        width: 100%;
        @include screen-medium {
          width: 70%;
        }
      }
    }
    .images {
      display: none;
      float: right;
      border-radius: 50%;;
      height: 50px;
      width: 50px;
      @include screen-medium {
        display: inline-block;
        height: 100px;
        width: 100px;
        margin-top: -20px;
      }
      &:hover {
        opacity: 0.9;
      }
    }
  }
}

.posts {
  width: 100%;
  display: block;
  @include screen-medium {
    float: left;
    width: 47%;
    margin-right: 6%;
  }
}

.projects {
  width: 100%;
  display: block;
  margin-bottom: 100px;
  @include screen-medium {
    float: left;
    width: 47%;
  }
}














