// Info Page
.info-main {
  background: url("images/info.jpg") no-repeat center;
  background-size: cover;
}

// Image styles for the blog

figure {

  img {
    width: 100%;
    @include flex;
  }

  figcaption {
    font-size: 12px;
    color: darken($color-light-gray, 20%);

    a {
      color: inherit;
    }

    @include screen-medium {
      font-size: 14px;
    }
  }

  &.big {
    clear: both;
    width: 100%;
    padding: 20px 0;

    @include screen-large {
      width: 120%;
      margin-left: -10%;
    }
  }

  &.small-left {
    width: 100%;

    @include screen-large {
      float: left;
      max-width: 30%;
      margin-left: -35%;
    }
  }

  &.small-right {
    width: 100%;

    @include screen-large {
      float: right;
      max-width: 30%;
      margin-right: -35%;
    }
  }

  &.grid-2-left {
    width: 100%;

    @include screen-large {
      float: left;
      width: 49%;
    }
  }

  &.grid-2-right {
    width: 100%;

    @include screen-large {
      float: left;
      width: 49%;
      margin-left: 1%;
      margin-right: 1%;
    }
  }
}

// Video styles for the blog

video {
  width: 100%;

  @include screen-medium {
    width: auto;
  }
}
