// Social Media palettes

$behance: #1769ff;
$dribbble: #ea4c89;
$github: #676767;
$instagram: #517fa4;
$rdio: #006ed2;
$tumblr: #32506d;
$twitter: #00aced;

// Social Media Mixin

@mixin social($name, $color) {
  &.#{$name} {
    color: $color;

    &:hover,
    &:active {
      color: darken($color, 10%);
    }
  }
}

// Social Media Components

a {
  @include social(dribbble, $dribbble);
  @include social(github, $github);
  @include social(instagram, $instagram);
  @include social(rdio, $rdio);
  @include social(twitter, $twitter);
}
