// Typography variables

$type-sofia: "sofia-pro",sans-serif;
$type-karmina: "karmina",serif;
$type-source: "source-sans-pro", Helvetica Neue, sans-serif;
$type-source-code: "source-code-pro", sans-serif;
$type-garamond: "garamond-premier-pro-subhead", serif;
$type-weight-light: 300;
$type-weight-regular: 400;
$type-weight-semi-bold: 600;
$type-weight-bold: 700;
$type-style-italic: italic;
$type-style-normal: normal;
$line-height-headings: 1.2;
$line-height: 1.5;

// Document type styles

body {
  font-family: $type-karmina;
  font-weight: $type-weight-regular;
  font-style: $type-style-normal;
  color: $color-black;
  line-height: $line-height;
  word-wrap: break-word;
}

h1 {
  font-family: $type-sofia;
  font-weight: $type-weight-bold;
  line-height: $line-height-headings;
  font-size: 40px;

  @include screen-medium {
    font-size: 60px;
  }
}

h2 {
  font-family: $type-sofia;
  font-weight: $type-weight-bold;
  line-height: $line-height;
  font-size: 24px;

  @include screen-medium {
    font-size: 40px;
  }
}

h3 {
  font-size: 14px;
  font-style: $type-style-italic;
  letter-spacing: .5px;
  text-transform: uppercase;

  @include screen-medium {
    font-size: 16px;
  }
}

h4 {
  font-family: $type-sofia;
  text-align: center;
  font-size: 22px;

  @include screen-medium {
    font-size: 24px;
  }
}

h5 {
  font-size: 12px;
  letter-spacing: 4px;
  color: darken($color-light-gray, 30%);
  margin-top: -22px;

  @include screen-medium {
    letter-spacing: 5px;
  }
}

p {
  font-size: 20px;

  @include screen-medium {
    font-size: 22px;
  }
}

strong {
  font-weight: $type-weight-bold;
}

a {
  text-decoration: none;
  text-transform: none;
  color: $color-black;
  border-bottom: 1px solid $color-light-gray;

  &:hover,
  &:active {
    border-color: $color-gray;
  }
}

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 1px solid $color-light-gray;
}

hr {
  border: 0;
  margin: 0 0 60px auto;
  padding-top: 60px;
  clear: both;

  &:after {
    display: block;
    content: "✕";
    text-align: center;
    font-size: 30px;
    color: $color-light-gray;

    @include screen-medium {
      font-size: 40px;
    }
  }
}
