// Typography variables

$type-rooney: "rooney-web", sans-serif;
$type-minion: "minion-pro", sans-serif;
$type-droid: "droid-sans-mono", sans-serif;
$type-weight-light: 100;
$type-weight-regular: 300;
$type-weight-bold: 500;
$type-style-italic: italic;
$type-style-normal: normal;
$line-height: 1.65;

// Document type styles

body {
  font-family: $type-rooney;
  font-style: $type-style-normal;
}

h1 {
  font-size: 1.625em;
  font-weight: $type-weight-bold;
  color: $color-black;
  line-height: $line-height;
  @include screen-medium {
    font-size: 1.750em;
  }
}

h2 {
  font-size: 1.500em;
  font-weight: $type-weight-bold;
  color: $color-blue;
  line-height: $line-height;
}

h3 {
  font-size: 1.250em;
  font-weight: $type-weight-bold;
  color: lighten($color-black, 10%);
  @include screen-medium {
    font-size: 1.375em;
  }
}

h4 {
  font-family: $type-minion;
  font-style: $type-style-italic;
  font-weight: $type-weight-light;
  font-size: 0.625em;
  letter-spacing: 4px;
  color: $color-black;
  padding-bottom: 10px;
  padding-left: 2px;
  margin-top: -10px;
  @include screen-medium {
    font-size: 0.688em;
    letter-spacing: 5px;
    margin-top: -15px;
  }
}

p {
  font-size: 1.125em;
  font-weight: $type-weight-regular;
  color: $color-black;
  line-height: $line-height;
  word-wrap: break-word;
  @include screen-medium {
    font-size: 1.250em;
  }
}

a {
  text-decoration: none;
  text-transform: none;
  color: $color-black;
  border-bottom: 1px solid $color-black;
  &:hover,&:active {
    border-bottom: 1px solid $color-light-gray;
  }
}

blockquote {
  margin: 50px 20px;
  padding-left: 20px;
  border-left: 1px solid $color-light-gray;
}

hr {
  border: none;
  &:after {
    display: block;
    content: "∾";
    text-align: center;
    font-size: 30px;
    padding: 5px 0px;
    font-weight: $type-weight-regular;
    color: $color-light-gray;
    @include screen-medium {
      font-size: 50px;
    }
  }
}

code {
  display: block;
  padding: 10px;
  font-family: $type-droid;
  background: $color-light-gray;
  border-radius: 5px;
}

