// Typography variables

$type-rooney: "rooney-web", Helvetica Neue, sans-serif;
$type-rooney-sans: "rooney-sans", Helvetica Neue, sans-serif;
$type-menlo: Menlo, monospace;
$type-weight-light: 300;
$type-weight-regular: 400;
$type-weight-bold: 500;
$type-style-italic: italic;
$type-style-normal: normal;
$line-height: 1.65;

// Document type styles

body {
  font-family: $type-rooney;
  font-weight: $type-weight-light;
  font-style: $type-style-normal;
  color: $color-black;
  line-height: $line-height;
}

h1 {
  font-size: 26px;
  font-weight: $type-weight-regular;

  @include screen-medium {
    font-size: 28px;
  }
}

h2 {
  font-size: 22px;
  font-weight: $type-weight-bold;
}

h3 {
  font-family: $type-rooney-sans;
  font-weight: $type-weight-regular;
  font-style: $type-style-italic;
  font-size: 18px;
  color: lighten($color-black, 10%);

  @include screen-medium {
    font-size: 20px;
  }
}

h4 {
  font-family: $type-rooney-sans;
  font-weight: $type-weight-light;
  font-size: 12px;
  letter-spacing: 4px;
  color: darken($color-light-gray, 20%);
  padding-bottom: 10px;
  padding-left: 2px;
  margin-top: -10px;

  @include screen-medium {
    letter-spacing: 5px;
    margin-top: -15px;
  }
}

p {
  font-size: 16px;
  font-weight: $type-weight-light;
  word-wrap: break-word;

  @include screen-medium {
    font-size: 18px;
  }
}

strong {
  font-weight: 400;
}

a {
  text-decoration: none;
  text-transform: none;
  color: $color-black;
  border-bottom: 1px solid darken($color-light-gray, 5%);

  &:hover,
  &:active {
    border-color: darken($color-light-gray, 15%);
  }
}

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 1px solid $color-light-gray;
}

hr {
  border: 0;
  margin: 30px auto;
  clear: both;

  &:after {
    display: block;
    content: "∾";
    text-align: center;
    font-size: 30px;
    padding: 5px 0;
    font-weight: $type-weight-bold;
    color: darken($color-black, 5%);

    @include screen-medium {
      font-size: 50px;
    }
  }
}
