// Social Media Components

a
	&.twitter
		color: $twitter
		border-bottom: 1px solid $twitter
		&:hover,&:active
			color: $twitterhover
			border-bottom: 1px solid $twitterhover
	&.quora
		color: $quora
		border-bottom: 1px solid $quora
		&:hover,&:active
			color: $quorahover
			border-bottom: 1px solid $quorahover
	&.github
		color: $github
		border-bottom: 1px solid $github
		&:hover,&:active
			color: $githubhover
			border-bottom: 1px solid $githubhover
	&.rdio
		color: $rdio
		border-bottom: 1px solid $rdio
		&:hover,&:active
			color: $rdiohover
			border-bottom: 1px solid $rdiohover

// Writing Components

.posts
	padding-top: 40px
	@media screen and (max-width: $smallscreen)
		padding-top: 5px
	@media screen and (max-width: $tinyscreen)
		padding-top: 0px
.post
	padding-top: 40px
	padding-bottom: 150px
	@media screen and (max-width: $smallscreen)
		padding-top: 5px
		padding-bottom: 100px
	@media screen and (max-width: $tinyscreen)
		padding-top: 0px
		padding-bottom: 80px
	img
		border-radius: 5px
		height: 100%
		width: 600px
		@media screen and (max-width: $mediumscreen)
			width: 450px
		@media screen and (max-width: $smallscreen)
			width: 300px
		@media screen and (max-width: $tinyscreen)
			width: 250px
		&:hover
			opacity: 0.9
.about
	padding-top: 40px
	padding-bottom: 150px
	@media screen and (max-width: $smallscreen)
		padding-top: 5px
		padding-bottom: 100px
	@media screen and (max-width: $tinyscreen)
		padding-top: 0px
		padding-bottom: 80px
	.images
		display: inline-block
		border-radius: 5px
		height: 399px
		width: 600px
		background-size: 100%
		background-repeat: no-repeat
		@media screen and (max-width: $mediumscreen)
			height: 299px
			width: 450px
		@media screen and (max-width: $smallscreen)
			height: 199px
			width: 300px
		@media screen and (max-width: $tinyscreen)
			height: 159px
			width: 250px
		&:hover
			opacity: 0.9

// Project Page Components

.projects
	padding-top: 40px
	padding-bottom: 150px
// 	.title
// 		font-weight: 400
// 	.projectimages
// 		border-radius: 10px
// 		display: block
// 		height: 450px
// 		width: 600px
// 		background-size: 100%
// 		background-repeat: no-repeat
// 		@media screen and (max-width: $mediumscreen)
// 			height: 300px
// 			width: 400px
// 		@media screen and (max-width: $smallscreen)
// 			height: 200px
// 			width: 267px
// 		@media screen and (max-width: $tinyscreen)
// 			height: 160px
// 			width: 212px
// 		&:hover
// 			opacity: 0.9
// 	@media screen and (max-width: $smallscreen)
// 		padding-top: 5px
// 		padding-bottom: 100px
// 	@media screen and (max-width: $tinyscreen)
// 		padding-top: 0px
// 		padding-bottom: 80px