// Info Page
.info-main
	background: url(images/info.jpeg)

// Books Page
.book1
	background: url(images/books/shapeofdesign.jpg)
.book2
	background: url(images/books/practicaltypography.png)
.book3
	background: url(images/books/merechristianity.jpg)
.book4
	background: url(images/books/rework.jpg)
.book5
	background: url(images/books/explicitgospel.jpg)
.book6
	background: url(images/books/execute.jpg)
.book7
	background: url(images/books/designingforemotion.jpg)

// Codal 
// .codaldisplay
// 	background: url(images/projects/codal/display.png)
// .codallogo
// 	background: url(images/projects/codal/logo.png)
// .codal1
// 	background: url(images/projects/codal/1.png)
// .codal2
// 	background: url(images/projects/codal/2.png)
// .codal3
// 	background: url(images/projects/codal/3.png)
// .codal4
// 	background: url(images/projects/codal/4.png)