<head>
  <title>Pedro Carmo - {{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Copyright" content="Copyright Pedro Carmo 2015. All Rights Reserved.">
  <link rel="shortcut icon" href="{{ base.url }}/assets/images/favicon.ico" type="image/x-icon"/>
  {% if page.url == "/" %}
  <link
    rel="preload"
    as="image"
    href="/assets/images/self-1200.jpeg"
    imagesrcset="/assets/images/self-600.jpeg 600w, /assets/images/self-1200.jpeg 1200w, /assets/images/self-1800.jpeg 1800w"
    imagesizes="(min-width: 1024px) 35vw, 100vw"
    fetchpriority="high">
  {% endif %}
  <link href="{{ base.url }}/css/main.css" type="text/css" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/vdp7mxz.css">
  <script type="text/javascript" src="//use.typekit.net/vdp7mxz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</head>

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-X180MEN69S"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-X180MEN69S');
</script>

<!--
_░▒███████
░██▓▒░░▒▓██
██▓▒░__░▒▓██___██████
██▓▒░____░▓███▓__░▒▓██
██▓▒░___░▓██▓_____░▒▓██
██▓▒░_______________░▒▓██
_██▓▒░______________░▒▓██
__██▓▒░____________░▒▓██
___██▓▒░__________░▒▓██
____██▓▒░________░▒▓██
_____██▓▒░_____░▒▓██
______██▓▒░__░▒▓██
_______█▓▒░░▒▓██
_________░▒▓██
_______░▒▓██
_____░▒▓██ Thanks for looking inside my code!
-->
