<head>
  <title>Pedro Carmo</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0" />
  <meta name="Copyright" content="Copyright Pedro Carmo 2013. All Rights Reserved.">
  <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" type="image/x-icon" />
  <link href="{{ site.baseurl }}css/main.css" type="text/css" rel="stylesheet">
  <link href="{{ site.baseurl }}webfonts/ss-social.css" rel="stylesheet" />
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
  <script type="text/javascript" src="//use.typekit.net/vdp7mxz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</head>