<head>
  <title>Pedro Carmo - {{ page.title }}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="Copyright" content="Copyright Pedro Carmo 2015. All Rights Reserved.">
  <link rel="shortcut icon" href="{{ base.url }}/assets/images/favicon.ico" type="image/x-icon"/>
  <link href="{{ base.url }}/css/main.css" type="text/css" rel="stylesheet">
  <script type="text/javascript" src="//use.typekit.net/vdp7mxz.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  <script type="text/javascript">
    var disqus_shortname = 'drocarmo';

    (function () {
        var s = document.createElement('script'); s.async = true;
        s.type = 'text/javascript';
        s.src = '//' + disqus_shortname + '.disqus.com/count.js';
        (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
    </script>
</head>
