@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: #454545;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 1.875em;
  font-weight: normal;
  margin: 0.67em 0; }

h2 {
  font-size: 1.375em;
  font-weight: normal;
  margin: 0.83em 0; }

h3 {
  font-size: 1.125em;
  font-weight: normal;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  font-weight: normal;
  margin: 1.23em 0; }

h5 {
  font-size: 0.85em;
  font-weight: normal;
  margin: 1.47em 0; }

h6 {
  font-size: 0.75em;
  font-weight: normal;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 85%; }
  @media screen and (min-width: 700px) {
    .container {
      width: 500px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 700px; } }

body {
  font-family: "rooney-web", Helvetica Neue, sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #383838;
  line-height: 1.65; }

h1 {
  font-size: 26px;
  font-weight: 400; }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 28px; } }

h2 {
  font-size: 24px;
  font-weight: 500; }

h3 {
  font-family: "rooney-sans", Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #525252; }
  @media screen and (min-width: 700px) {
    h3 {
      font-size: 22px; } }

h4 {
  font-family: "rooney-sans", Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 4px;
  color: gainsboro;
  padding-bottom: 10px;
  padding-left: 2px;
  margin-top: -10px; }
  @media screen and (min-width: 700px) {
    h4 {
      letter-spacing: 5px;
      margin-top: -15px; } }

p {
  font-size: 16px;
  font-weight: 300;
  word-wrap: break-word; }
  @media screen and (min-width: 700px) {
    p {
      font-size: 18px; } }

strong {
  font-weight: 400; }

a {
  text-decoration: none;
  text-transform: none;
  color: #383838;
  border-bottom: 1px solid gainsboro; }
  a:hover, a:active {
    border-color: #c3c3c3; }

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 1px solid #e9e9e9; }

hr {
  border: 0;
  margin: 100px auto;
  clear: both; }
  hr:after {
    display: block;
    content: "∾";
    text-align: center;
    font-size: 30px;
    padding: 5px 0;
    font-weight: 500;
    color: #2b2b2b; }
    @media screen and (min-width: 700px) {
      hr:after {
        font-size: 50px; } }

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

::selection {
  background: #383838;
  color: white;
  text-shadow: none; }

html,
body {
  height: 100%; }

body {
  margin: 0 auto; }

a.behance {
  color: #1769ff; }
  a.behance:hover, a.behance:active {
    color: #0050e3; }
a.dribbble {
  color: #ea4c89; }
  a.dribbble:hover, a.dribbble:active {
    color: #e51e6b; }
a.github {
  color: #333333; }
  a.github:hover, a.github:active {
    color: #1a1a1a; }
a.rdio {
  color: #006ed2; }
  a.rdio:hover, a.rdio:active {
    color: #00539f; }
a.tumblr {
  color: #32506d; }
  a.tumblr:hover, a.tumblr:active {
    color: #22364a; }
a.twitter {
  color: #00aced; }
  a.twitter:hover, a.twitter:active {
    color: #0087ba; }

.about {
  padding-top: 10px;
  padding-bottom: 100px; }
  @media screen and (min-width: 700px) {
    .about {
      padding-top: 40px;
      padding-bottom: 150px; } }
  .about .head {
    margin-bottom: 200px; }
    .about .head .intro {
      margin-top: 0; }
      .about .head .intro h1 {
        float: left;
        width: 100%;
        margin-bottom: -20px; }
        @media screen and (min-width: 700px) {
          .about .head .intro h1 {
            margin-bottom: -25px;
            width: 75%; } }
      .about .head .intro p {
        float: left;
        width: 100%; }
        @media screen and (min-width: 700px) {
          .about .head .intro p {
            width: 75%; } }
    .about .head .image {
      display: none;
      float: right;
      border-radius: 50%;
      height: 50px;
      width: 50px; }
      @media screen and (min-width: 700px) {
        .about .head .image {
          display: inline-block;
          height: 100px;
          width: 100px;
          margin-top: -20px; } }
      .about .head .image:hover {
        opacity: .9; }

.posts {
  width: 100%;
  display: block; }
  @media screen and (min-width: 700px) {
    .posts {
      float: left;
      width: 47%;
      margin-right: 6%; } }

.projects {
  width: 100%;
  display: block;
  margin-bottom: 100px; }
  .projects span {
    color: gainsboro; }
  @media screen and (min-width: 700px) {
    .projects {
      float: left;
      width: 47%; } }

.contact {
  text-align: center;
  color: gainsboro;
  border-bottom: 0; }

.back {
  z-index: 1000;
  position: absolute;
  top: 20px;
  left: 2%; }
  @media screen and (min-width: 700px) {
    .back {
      top: 30px; } }
  .back a {
    font-size: .875em;
    text-decoration: none;
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    border-radius: 4px;
    padding: 10px; }
    .back a:hover, .back a:active {
      border: 1px solid #383838;
      color: #383838; }

.next {
  z-index: 1000;
  position: absolute;
  top: 20px;
  right: 2%; }
  @media screen and (min-width: 1200px) {
    .next {
      top: 30px; } }
  .next a {
    font-size: .875em;
    text-decoration: none;
    border: 1px solid #aaaaaa;
    color: #aaaaaa;
    border-radius: 4px;
    padding: 10px; }
    .next a:hover, .next a:active {
      border: 1px solid #383838;
      color: #383838; }

.blog {
  padding-top: 80px;
  margin-bottom: 100px; }
  @media screen and (min-width: 1200px) {
    .blog {
      padding-top: 40px;
      padding-bottom: 150px; } }
  .blog h3 {
    padding: 40px 0; }
  .blog h4 {
    margin-bottom: 50px; }
    @media screen and (min-width: 700px) {
      .blog h4 {
        margin-bottom: 100px; } }
  .blog #disqus_thread {
    margin-top: 100px; }
    @media screen and (min-width: 700px) {
      .blog #disqus_thread {
        margin-top: 200px; } }

code {
  font-family: Menlo, monospace;
  color: #e83943;
  display: inline;
  word-wrap: break-word; }

pre {
  font-family: Menlo, monospace;
  font-size: 12px;
  color: #e83943;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  max-width: auto; }
  @media screen and (min-width: 700px) {
    pre {
      font-size: 14px; } }

.info-main {
  background: url("images/info.jpeg") no-repeat center;
  background-size: cover; }

figure img {
  width: 100%;
  margin: 0 auto; }
  figure img:hover {
    opacity: .9; }
figure figcaption {
  font-size: 10px;
  color: #d0d0d0; }
  figure figcaption a {
    color: inherit; }
  @media screen and (min-width: 700px) {
    figure figcaption {
      font-size: 12px; } }
figure.big {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.big {
      width: 120%;
      margin-left: -10%; } }
figure.small-left {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.small-left {
      float: left;
      max-width: 30%;
      margin-left: -35%; } }
figure.small-right {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.small-right {
      float: right;
      max-width: 30%;
      margin-right: -35%; } }

ul {
  list-style: none; }
  ul li {
    text-indent: -28px;
    font-size: 16px;
    font-weight: 300;
    word-wrap: break-word; }
    @media screen and (min-width: 700px) {
      ul li {
        font-size: 18px; } }
    ul li:before {
      content: "→";
      margin-right: 10px;
      color: #383838; }

.error {
  margin: -19px auto;
  height: 100%;
  background: url("https://raw.github.com/drocarmo/gifs/master/upset/wwe.gif") no-repeat center;
  background-size: cover;
  color: white; }
  .error .container {
    padding: 20px auto; }
    .error .container h1 {
      font-family: "rooney-sans", Helvetica Neue, sans-serif; }
    .error .container p a {
      color: inherit; }
    .error .container p .small {
      font-size: 14px;
      font-family: "rooney-sans", Helvetica Neue, sans-serif;
      text-transform: uppercase; }
