@charset "UTF-8";
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block; }

audio,
canvas,
video {
  display: inline-block; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden] {
  display: none; }

html {
  background: white;
  color: #454545;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

html,
button,
input,
select,
textarea {
  font-family: sans-serif; }

body {
  margin: 0; }

a:focus {
  outline: thin dotted; }
a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 1.875em;
  font-weight: normal;
  margin: 0.67em 0; }

h2 {
  font-size: 1.375em;
  font-weight: normal;
  margin: 0.83em 0; }

h3 {
  font-size: 1.125em;
  font-weight: normal;
  margin: 1em 0; }

h4 {
  font-size: 1em;
  font-weight: normal;
  margin: 1.23em 0; }

h5 {
  font-size: 0.85em;
  font-weight: normal;
  margin: 1.47em 0; }

h6 {
  font-size: 0.75em;
  font-weight: normal;
  margin: 2.33em 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

q:before,
q:after {
  content: '';
  content: none; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button,
input {
  line-height: normal; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
input[disabled] {
  cursor: default; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

.container {
  position: relative;
  text-align: left;
  margin: 0 auto;
  width: 85%; }
  @media screen and (min-width: 700px) {
    .container {
      width: 500px; } }
  @media screen and (min-width: 1200px) {
    .container {
      width: 700px; } }

body {
  font-family: "source-sans-pro", Helvetica Neue, sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #383838;
  line-height: 1.5; }

h1 {
  font-family: "rooney-web", Helvetica Neue, sans-serif;
  font-size: 26px; }
  @media screen and (min-width: 700px) {
    h1 {
      font-size: 28px; } }

h2 {
  font-family: "rooney-web", Helvetica Neue, sans-serif;
  font-weight: 400;
  font-size: 22px; }

h3 {
  font-family: "rooney-web", Helvetica Neue, sans-serif;
  font-weight: 400;
  text-align: center;
  font-size: 18px; }
  @media screen and (min-width: 700px) {
    h3 {
      font-size: 20px; } }

h4 {
  font-family: "rooney-web", Helvetica Neue, sans-serif;
  font-weight: 300;
  font-size: 12px;
  letter-spacing: 4px;
  color: #b6b6b6;
  padding-bottom: 10px;
  padding-left: 2px;
  margin-top: -20px; }
  @media screen and (min-width: 700px) {
    h4 {
      letter-spacing: 5px; } }

p {
  font-size: 16px;
  word-wrap: break-word; }
  @media screen and (min-width: 700px) {
    p {
      font-size: 18px; } }

strong {
  font-weight: 600; }

a {
  text-decoration: none;
  text-transform: none;
  color: #383838;
  border-bottom: 1px solid #d1e6fa; }
  a:hover, a:active {
    border-color: #1464ad; }

blockquote {
  margin: 50px 0;
  padding-left: 20px;
  border-left: 1px solid #e9e9e9; }

hr {
  border: 0;
  margin: 60px auto;
  clear: both; }
  hr:after {
    display: block;
    content: "⌇";
    text-align: center;
    -ms-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    font-size: 10px;
    color: #f5b308; }
    @media screen and (min-width: 700px) {
      hr:after {
        font-size: 40px; } }

*,
*:after,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative; }

::selection {
  background: #fcfcfc;
  color: #f5b308;
  text-shadow: none; }

html,
body {
  height: 100%; }

body {
  margin: 0 auto;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased; }

a.github {
  color: #676767; }
  a.github:hover, a.github:active {
    color: #4e4e4e; }
a.rdio {
  color: #006ed2; }
  a.rdio:hover, a.rdio:active {
    color: #00539f; }
a.twitter {
  color: #00aced; }
  a.twitter:hover, a.twitter:active {
    color: #0087ba; }

.about {
  padding-top: 10px;
  padding-bottom: 100px; }
  @media screen and (min-width: 700px) {
    .about {
      padding-top: 40px;
      padding-bottom: 150px; } }
  .about section {
    margin-top: 50px; }

.products {
  clear: both; }

.posts {
  clear: both; }
  .posts .post .date {
    margin-top: -10px; }
    @media screen and (min-width: 700px) {
      .posts .post .date {
        float: right;
        margin-top: -40px; } }

.back {
  z-index: 1000;
  position: fixed;
  top: 20px;
  left: 2%; }
  @media screen and (min-width: 700px) {
    .back {
      top: 30px; } }
  .back a {
    font-size: .875em;
    color: #aaaaaa;
    border-bottom: none;
    background: white;
    padding: 15px; }
    .back a:hover, .back a:active {
      color: #383838; }

.next {
  z-index: 1000;
  position: fixed;
  top: 20px;
  right: 2%; }
  @media screen and (min-width: 1200px) {
    .next {
      top: 30px; } }
  .next a {
    font-size: .875em;
    color: #aaaaaa;
    border-bottom: none;
    background: white;
    padding: 15px; }
    .next a:hover, .next a:active {
      color: #383838; }

.blog {
  padding-top: 80px;
  margin-bottom: 100px; }
  @media screen and (min-width: 1200px) {
    .blog {
      padding-top: 40px;
      padding-bottom: 150px; } }
  .blog h3 {
    padding: 40px 0; }
  .blog h4 {
    margin-bottom: 50px; }
    @media screen and (min-width: 700px) {
      .blog h4 {
        margin-bottom: 100px; } }
  .blog .video {
    width: 320px;
    height: 280px; }
    @media screen and (min-width: 700px) {
      .blog .video {
        width: 560px;
        height: 315px; } }
  .blog #disqus_thread {
    margin-top: 100px; }
    @media screen and (min-width: 700px) {
      .blog #disqus_thread {
        margin-top: 200px; } }

code {
  font-family: "source-code-pro", sans-serif;
  color: #e83943;
  display: inline;
  word-wrap: break-word;
  font-size: 13px;
  background-color: #fdf0f1;
  padding: 2px 4px;
  border-radius: 4px; }
  @media screen and (min-width: 700px) {
    code {
      font-size: 15px; } }

pre {
  font-family: "source-code-pro", sans-serif;
  font-size: 12px;
  color: #e83943;
  border: 1px solid #f6f6f6;
  border-radius: 5px;
  padding: 10px;
  overflow-x: auto;
  white-space: pre;
  word-wrap: normal;
  max-width: auto; }
  @media screen and (min-width: 700px) {
    pre {
      font-size: 14px; } }

.info-main {
  background: url("images/info.jpg") no-repeat center;
  background-size: cover; }

figure img {
  width: 100%;
  margin: 0 auto; }
figure figcaption {
  font-size: 12px;
  color: #b6b6b6; }
  figure figcaption a {
    color: inherit; }
  @media screen and (min-width: 700px) {
    figure figcaption {
      font-size: 14px; } }
figure.big {
  clear: both;
  width: 100%;
  padding: 20px 0; }
  @media screen and (min-width: 1200px) {
    figure.big {
      width: 120%;
      margin-left: -10%; } }
figure.small-left {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.small-left {
      float: left;
      max-width: 30%;
      margin-left: -35%; } }
figure.small-right {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.small-right {
      float: right;
      max-width: 30%;
      margin-right: -35%; } }
figure.grid-2-left {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.grid-2-left {
      float: left;
      width: 49%; } }
figure.grid-2-right {
  width: 100%; }
  @media screen and (min-width: 1200px) {
    figure.grid-2-right {
      float: left;
      width: 49%;
      margin-left: 1%;
      margin-right: 1%; } }

video {
  width: 100%; }
  @media screen and (min-width: 700px) {
    video {
      width: auto; } }

ul {
  list-style: none; }
  ul li {
    text-indent: -28px;
    font-size: 16px;
    font-weight: 300;
    word-wrap: break-word; }
    @media screen and (min-width: 700px) {
      ul li {
        font-size: 18px; } }
    ul li:before {
      content: "→";
      margin-right: 10px;
      color: #383838; }

.error {
  margin: -19px auto;
  height: 100%;
  background: url("https://raw.github.com/drocarmo/gifs/master/upset/wwe.gif") no-repeat center;
  background-size: cover;
  color: white; }
  .error .container {
    padding: 20px auto; }
    .error .container p a {
      color: inherit; }
    .error .container p .small {
      font-size: 14px;
      text-transform: uppercase; }
