$white: #fff
$black: #000
$green: #00ad6e
$darkblue: #2F3440
$mediumscreen: 700px
$smallscreen: 500px
$tinyscreen: 300px

body
	font-family: "proxima-nova-soft",sans-serif
	font-style: normal
header
	position: fixed
	top: 0
	left: 0
	width: 100%
	height: 80px
	background-color: $darkblue
	z-index: 1000
	@media screen and (max-width: $mediumscreen)
		height: 70px
	@media screen and (max-width: $smallscreen)
		height: 60px
	@media screen and (max-width: $tinyscreen)
		height: 50px
nav a
	padding: 50px
	padding-bottom: 20px
	font-size: 13px
	text-decoration: none
	text-transform: uppercase
	letter-spacing: 5px
	color: $white
	position: relative
	border-bottom: none
	&:hover
		bottom: 4px
		border-bottom: none
	@media screen and (max-width: $mediumscreen)
		padding: 40px
		font-size: 12px	
	@media screen and (max-width: $smallscreen)
		padding: 20px
		font-size: 10px
	@media screen and (max-width: $tinyscreen)
		padding: 10px
.head
	text-align: center
	position: relative
.profile
	height: 50px
	width: 50px
	border-radius: 80px
	position: relative
	top: 15px
	@media screen and (max-width: $mediumscreen)
		top: 10px
	@media screen and (max-width: $smallscreen)
		height: 40px
		width: 40px
footer
	position: relative
	bottom: 0
	margin: 0 auto
	width: 600px
	h3
		font-size: 14px
	@media screen and (max-width: $mediumscreen)
		width: 450px
	@media screen and (max-width: $smallscreen)
		width: 300px
	@media screen and (max-width: $tinyscreen)
		width: 250px