@import base.sass
@import typography.sass
@import social.sass

.container
	position: relative
	text-align: left
	margin: 100px auto
	width: 600px
	@media screen and (max-width: $mediumscreen)
		width: 450px
	@media screen and (max-width: $smallscreen)
		width: 300px
	@media screen and (max-width: $tinyscreen)
		width: 250px
.post
	padding-top: 40px
	padding-bottom: 150px
	@media screen and (max-width: $smallscreen)
		padding-top: 5px
		padding-bottom: 100px
	@media screen and (max-width: $tinyscreen)
		padding-top: 0px
		padding-bottom: 80px
.about
	padding-top: 40px
	padding-bottom: 150px
	@media screen and (max-width: $smallscreen)
		padding-top: 5px
		padding-bottom: 100px
	@media screen and (max-width: $tinyscreen)
		padding-top: 0px
		padding-bottom: 80px
.about img
	border-radius: 10px
	@media screen and (max-width: $mediumscreen)
		height: 300px
		width: 450px
	@media screen and (max-width: $smallscreen)
		height: 200px
		width: 300px
	@media screen and (max-width: $tinyscreen)
		height: 160px
		width: 250px
	&:hover
		filter: gray
		-webkit-filter: grayscale(100%)
a
	text-decoration: none
	text-transform: none
	color: lighten($black, 30%)
	border-bottom: 1px solid #00AD6E
	&:hover
		border-bottom: 1px solid lighten($green, 10%)
blockquote
	padding-left: 18px
	border-left: 1px solid $black