body {
  font-family: "proxima-nova-soft", sans-serif;
  font-style: normal; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2f3440;
  z-index: 1000; }
  @media screen and (max-width: 700px) {
    header {
      height: 70px; } }
  @media screen and (max-width: 500px) {
    header {
      height: 60px; } }
  @media screen and (max-width: 300px) {
    header {
      height: 50px; } }

nav a {
  padding: 50px;
  padding-bottom: 20px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  position: relative;
  border-bottom: none; }
  nav a:hover {
    bottom: 4px;
    border-bottom: none; }
  @media screen and (max-width: 700px) {
    nav a {
      padding: 40px;
      font-size: 12px; } }
  @media screen and (max-width: 500px) {
    nav a {
      padding: 20px;
      font-size: 10px; } }
  @media screen and (max-width: 300px) {
    nav a {
      padding: 10px; } }

.head {
  text-align: center;
  position: relative; }
  @media screen and (max-width: 700px) {
    .head {
      top: -5px; } }
  @media screen and (max-width: 500px) {
    .head {
      top: -10px; } }
  @media screen and (max-width: 300px) {
    .head {
      top: -15px; } }

.profile {
  height: 50px;
  width: 50px;
  border-radius: 80px;
  position: relative;
  top: 15px; }

footer {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 600px; }
  footer h3 {
    font-size: 14px; }
  @media screen and (max-width: 700px) {
    footer {
      width: 450px; } }
  @media screen and (max-width: 500px) {
    footer {
      width: 300px; } }
  @media screen and (max-width: 300px) {
    footer {
      width: 250px; } }

h2 {
  font-size: 26px;
  font-weight: 500;
  color: #00ad6e;
  line-height: 2px; }
  h2 a {
    color: #00ad6e;
    border-bottom: none; }
    h2 a:hover {
      color: #00c77e;
      border-bottom: none; }

h1 {
  font-size: 30px;
  font-weight: 500;
  color: #2f3440;
  line-height: 2px; }

h3 {
  font-style: italic;
  font-size: 22px;
  font-weight: 500;
  color: #4d4d4d;
  line-height: 2; }

h4 {
  font-family: "rooney-sans", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 5px;
  color: gray;
  padding-bottom: 30px; }

p {
  font-size: 20px;
  font-weight: 200;
  color: #4d4d4d;
  line-height: 1.5; }

.social a {
  margin-right: 70px; }
  @media screen and (max-width: 700px) {
    .social a {
      margin-right: 50px; } }
  @media screen and (max-width: 500px) {
    .social a {
      margin-right: 20px; } }

a.twitter {
  border-bottom: none; }
  a.twitter:hover {
    color: #00aced;
    border-bottom: none; }

a.insta {
  border-bottom: none; }
  a.insta:hover {
    color: #517fa4;
    border-bottom: none; }

a.rdio {
  border-bottom: none; }
  a.rdio:hover {
    color: #006ed2;
    border-bottom: none; }

a.github {
  border-bottom: none; }
  a.github:hover {
    color: #222222;
    border-bottom: none; }

a.dribbble {
  border-bottom: none; }
  a.dribbble:hover {
    color: #d33b74;
    border-bottom: none; }

a.svpply {
  border-bottom: none; }
  a.svpply:hover {
    color: black;
    border-bottom: none; }

.container {
  position: relative;
  text-align: left;
  margin: 100px auto;
  width: 600px; }
  @media screen and (max-width: 700px) {
    .container {
      width: 450px; } }
  @media screen and (max-width: 500px) {
    .container {
      width: 300px; } }
  @media screen and (max-width: 300px) {
    .container {
      width: 250px; } }

.post {
  padding-top: 40px;
  padding-bottom: 150px; }
  @media screen and (max-width: 500px) {
    .post {
      padding-top: 5px;
      padding-bottom: 100px; } }
  @media screen and (max-width: 300px) {
    .post {
      padding-top: 0px;
      padding-bottom: 80px; } }

.about {
  padding-top: 40px;
  padding-bottom: 150px; }
  @media screen and (max-width: 500px) {
    .about {
      padding-top: 5px;
      padding-bottom: 100px; } }
  @media screen and (max-width: 300px) {
    .about {
      padding-top: 0px;
      padding-bottom: 80px; } }

.about img {
  border-radius: 10px; }
  @media screen and (max-width: 700px) {
    .about img {
      height: 300px;
      width: 450px; } }
  @media screen and (max-width: 500px) {
    .about img {
      height: 200px;
      width: 300px; } }
  @media screen and (max-width: 300px) {
    .about img {
      height: 160px;
      width: 250px; } }
  .about img:hover {
    filter: gray;
    -webkit-filter: grayscale(100%); }

a {
  text-decoration: none;
  text-transform: none;
  color: #4d4d4d;
  border-bottom: 1px solid #00ad6e; }
  a:hover {
    border-bottom: 1px solid #00e08e; }

blockquote {
  padding-left: 18px;
  border-left: 1px solid black; }
