/* CSS, dawg */

body {
    background-color: #F8F8F8;
    background-size: cover;
}
h1 {
    text-rendering: optimizeLegibility;
    color: #333333;
    font-family: "proxima-nova",sans-serif;
    font-size:30px;
    font-weight:200;
    line-height: 250%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
h2 {
    text-rendering: optimizeLegibility;
    color: #333333;
    font-family: "proxima-nova",sans-serif;
    font-size:20px;
    line-height: 250%;
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
h3 {
    font-size: 20px;
    color: #333333;
    font-weight: bold;
    font-style: italic;
}
p {
    text-rendering: optimizeLegibility;
    color: #333333;
    font-family: "proxima-nova",sans-serif;
    font-size: 20px;
    font-weight: 200;
    line-height: 150%;
}
.special {
    color: #64AECD;
}
.about {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 50%;
}
.footer {
    display: block;
    margin-left:auto;
    margin-right:auto;
    width: 51%;
}
.posts {
    display: block;
    margin-left:200px;
    margin-right:200px;
    width: 50%;
}
a {
    text-transform: none;
    text-decoration: none;
}
.links {
    color:#333333;
    font-size:20px;
    text-transform: none;
    text-decoration: none;
    border-bottom:solid 1px #64AECD;
}
.links:hover {
    color: white;
    font-size:20px;
    text-transform: none;
    text-decoration: none;
    border: none;
    background-color: #333333;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}    
.social:hover {
    text-transform: none;
    text-decoration: none;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

/* Animation, bro */

.animated {
    -webkit-animation-fill-mode: both;
       -moz-animation-fill-mode: both;
        -ms-animation-fill-mode: both;
            animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-moz-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-ms-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@-o-keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}    
    100% {opacity: 1;}
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    -moz-animation-name: fadeIn;
    -ms-animation-name: fadeIn;
    -o-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 2s;
       -moz-animation-duration: 2s;
        -ms-animation-duration: 2s;
            animation-duration: 2s;
}

@-webkit-keyframes fadeInDown {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-65px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(-20px);
    }
}

@-moz-keyframes fadeInDown {
    0% {
        opacity: 0;
        -moz-transform: translateY(-65px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(-20px);
    }
}

@-ms-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-65px);
    }
    
    100% {
        opacity: 1;
        -ms-transform: translateY(-20px);
    }
}

@-o-keyframes fadeInDown {
    0% {
        opacity: 0;
        -ms-transform: translateY(-65px);
    }
    
    100% {
        opacity: 1;
        -ms-transform: translateY(-20px);
    }
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-65px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(-20px);
    }
}

.fadeInDown {
    -webkit-animation-name: fadeInDown;
    -moz-animation-name: fadeInDown;
    -ms-animation-name: fadeInDown;
    animation-name: fadeInDown;
    -webkit-animation-duration: 3s;
       -moz-animation-duration: 3s;
        -ms-animation-duration: 3s;
            animation-duration: 3s;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

@-moz-keyframes fadeInUp {
    0% {
        opacity: 0;
        -moz-transform: translateY(40px);
    }
    
    100% {
        opacity: 1;
        -moz-transform: translateY(0px);
    }
}

@-ms-keyframes fadeInUp {
    0% {
        opacity: 0;
        -ms-transform: translateY(40px);
    }
    
    100% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }
}

@-o-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(40px);
    }
    
    100% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(40px);
    }
    
    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    -moz-animation-name: fadeInUp;
    -ms-animation-name: fadeInUp;
    animation-name: fadeInUp;
    -webkit-animation-duration: 4s;
       -moz-animation-duration: 4s;
        -ms-animation-duration: 4s;
            animation-duration: 4s;
}

/* Responsive, homie */
