body {
  font-family: "proxima-nova-soft", sans-serif;
  font-style: normal;
  font-weight: 200;
  vertical-spacing: 2px; }

h1 {
  font-size: 26px;
  font-weight: 500;
  color: #00ad6e;
  line-height: 2px; }

h2 {
  font-family: "rooney-sans", sans-serif;
  font-style: italic;
  font-weight: 200;
  font-size: 12px;
  letter-spacing: 5px;
  color: gray;
  padding-bottom: 30px; }

h3 {
  font-style: italic;
  font-size: 24px;
  font-weight: 400;
  color: #4d4d4d;
  line-height: 2; }

p {
  font-size: 24px;
  font-weight: 200;
  color: #4d4d4d;
  line-height: 1.5; }
  p a {
    text-decoration: none;
    text-transform: none;
    border-bottom: 1px solid #00ad6e; }
    p a:hover {
      border-bottom: 1px solid #00c77e; }
    p a:visited {
      text-decoration: none; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background-color: #2f3440; }

nav a {
  padding: 30px;
  padding-bottom: 20px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: white;
  position: relative; }
  nav a:hover {
    bottom: 4px; }

.head {
  text-align: center;
  position: relative; }

.profile {
  height: 50px;
  width: 50px;
  border-radius: 80px;
  position: relative;
  top: 15px; }

.container {
  position: relative;
  text-align: left;
  margin: 150px auto;
  width: 600px; }
