body {
  font-family: "Open sans", sans-serif;
  font-style: normal; }

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background-color: white;
  z-index: 1000; }
  @media screen and (max-width: 700px) {
    header {
      height: 90px; } }
  @media screen and (max-width: 500px) {
    header {
      height: 80px; } }
  @media screen and (max-width: 300px) {
    header {
      height: 70px; } }

nav a {
  padding: 50px;
  font-size: 13px;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #0a0a0a;
  position: relative;
  top: 15px;
  border-bottom: none;
  font-family: "rooney-sans", sans-serif; }
  nav a:hover, nav a:active {
    border-bottom: none;
    color: #00ad6e; }
  @media screen and (max-width: 700px) {
    nav a {
      padding: 40px;
      font-size: 12px;
      letter-spacing: 4px; } }
  @media screen and (max-width: 500px) {
    nav a {
      padding: 20px;
      font-size: 11px;
      letter-spacing: 3px; } }
  @media screen and (max-width: 300px) {
    nav a {
      padding: 18px; } }

.head {
  text-align: center;
  position: relative; }

.profile {
  height: 50px;
  width: 50px;
  border-radius: 80px;
  position: relative;
  top: 15px; }
  @media screen and (max-width: 700px) {
    .profile {
      top: 10px; } }
  @media screen and (max-width: 500px) {
    .profile {
      height: 40px;
      width: 40px; } }

footer {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  width: 600px; }
  footer h3 {
    font-size: 14px; }
  @media screen and (max-width: 700px) {
    footer {
      width: 450px; } }
  @media screen and (max-width: 500px) {
    footer {
      width: 300px; } }
  @media screen and (max-width: 300px) {
    footer {
      width: 250px; } }

h2 {
  font-size: 26px;
  font-weight: 500;
  color: #00ad6e;
  line-height: 2px; }
  h2 a {
    color: #00ad6e;
    border-bottom: none; }
    h2 a:hover {
      color: #00c77e;
      border-bottom: none; }
  @media screen and (max-width: 700px) {
    h2 {
      font-size: 24px;
      line-height: 30px; } }

h1 {
  font-size: 28px;
  font-weight: 500;
  color: #3d3d3d;
  line-height: 2px; }
  @media screen and (max-width: 700px) {
    h1 {
      font-size: 26px; } }

h3 {
  font-style: italic;
  font-size: 22px;
  font-weight: 500;
  color: #575757;
  line-height: 2; }
  @media screen and (max-width: 700px) {
    h3 {
      font-size: 20px; } }

h4 {
  font-family: "garamond-premier-pro-subhead", serif;
  font-style: italic;
  font-weight: 100;
  font-size: 12px;
  letter-spacing: 5px;
  color: #5f5f5f;
  padding-bottom: 30px;
  padding-left: 2px; }
  @media screen and (max-width: 700px) {
    h4 {
      font-size: 11px;
      letter-spacing: 4px; } }

p {
  font-size: 20px;
  font-weight: 200;
  color: #5f5f5f;
  line-height: 1.5;
  word-wrap: break-word; }
  @media screen and (max-width: 700px) {
    p {
      font-size: 18px; } }

.quote {
  border-bottom: none; }
  .quote:hover {
    border-bottom: none; }

.social a {
  margin-right: 70px; }
  @media screen and (max-width: 700px) {
    .social a {
      margin-right: 50px; } }
  @media screen and (max-width: 500px) {
    .social a {
      margin-right: 20px; } }

a.twitter {
  border-bottom: none; }
  a.twitter:hover {
    color: #00aced;
    border-bottom: none; }

a.insta {
  border-bottom: none; }
  a.insta:hover {
    color: #517fa4;
    border-bottom: none; }

a.rdio {
  border-bottom: none; }
  a.rdio:hover {
    color: #006ed2;
    border-bottom: none; }

a.github {
  border-bottom: none; }
  a.github:hover {
    color: #222222;
    border-bottom: none; }

a.dribbble {
  border-bottom: none; }
  a.dribbble:hover {
    color: #d33b74;
    border-bottom: none; }

a.svpply {
  border-bottom: none; }
  a.svpply:hover {
    color: #0a0a0a;
    border-bottom: none; }

.container {
  position: relative;
  text-align: left;
  margin: 100px auto;
  width: 600px; }
  @media screen and (max-width: 700px) {
    .container {
      width: 450px; } }
  @media screen and (max-width: 500px) {
    .container {
      width: 300px; } }
  @media screen and (max-width: 300px) {
    .container {
      width: 250px; } }

.posts {
  padding-top: 40px; }
  @media screen and (max-width: 500px) {
    .posts {
      padding-top: 5px; } }
  @media screen and (max-width: 300px) {
    .posts {
      padding-top: 0px; } }

.post {
  padding-top: 40px;
  padding-bottom: 150px; }
  @media screen and (max-width: 500px) {
    .post {
      padding-top: 5px;
      padding-bottom: 100px; } }
  @media screen and (max-width: 300px) {
    .post {
      padding-top: 0px;
      padding-bottom: 80px; } }
  .post img {
    border-radius: 10px; }
    @media screen and (max-width: 700px) {
      .post img {
        height: 300px;
        width: 450px; } }
    @media screen and (max-width: 500px) {
      .post img {
        height: 200px;
        width: 300px; } }
    @media screen and (max-width: 300px) {
      .post img {
        height: 160px;
        width: 250px; } }
    .post img:hover {
      opacity: 0.9; }

.about {
  padding-top: 40px;
  padding-bottom: 150px; }
  @media screen and (max-width: 500px) {
    .about {
      padding-top: 5px;
      padding-bottom: 100px; } }
  @media screen and (max-width: 300px) {
    .about {
      padding-top: 0px;
      padding-bottom: 80px; } }
  .about img {
    border-radius: 10px; }
    @media screen and (max-width: 700px) {
      .about img {
        height: 300px;
        width: 450px; } }
    @media screen and (max-width: 500px) {
      .about img {
        height: 200px;
        width: 300px; } }
    @media screen and (max-width: 300px) {
      .about img {
        height: 160px;
        width: 250px; } }
    .about img:hover {
      opacity: 0.9; }

.books {
  padding-top: 40px;
  padding-bottom: 150px; }
  @media screen and (max-width: 500px) {
    .books {
      padding-top: 5px;
      padding-bottom: 100px; } }
  @media screen and (max-width: 300px) {
    .books {
      padding-top: 0px;
      padding-bottom: 80px; } }
  .books img {
    padding-right: 15px;
    padding-bottom: 15px; }
    @media screen and (max-width: 700px) {
      .books img {
        height: 260px;
        width: 160px; } }
    @media screen and (max-width: 500px) {
      .books img {
        height: 200px;
        width: 125px;
        padding-right: 10px; } }
    @media screen and (max-width: 300px) {
      .books img {
        height: 160px;
        width: 105px; } }
  .books a {
    border-bottom: none; }
    .books a:hover {
      border-bottom: none;
      opacity: 0.9; }

.resume {
  padding-top: 40px;
  padding-bottom: 150px; }
  .resume .title {
    font-weight: 400; }
  .resume img {
    border-radius: 10px; }
    @media screen and (max-width: 700px) {
      .resume img {
        height: 300px;
        width: 400px; } }
    @media screen and (max-width: 500px) {
      .resume img {
        height: 200px;
        width: 267px; } }
    @media screen and (max-width: 300px) {
      .resume img {
        height: 160px;
        width: 212px; } }
    .resume img:hover {
      opacity: 0.9; }
  @media screen and (max-width: 500px) {
    .resume {
      padding-top: 5px;
      padding-bottom: 100px; } }
  @media screen and (max-width: 300px) {
    .resume {
      padding-top: 0px;
      padding-bottom: 80px; } }

a {
  text-decoration: none;
  text-transform: none;
  color: #575757;
  border-bottom: 1px solid #00ad6e; }
  a:hover {
    border-bottom: 1px solid #00e08e; }

blockquote {
  padding-left: 18px;
  border-left: 1px solid #0a0a0a; }
