/*===========

Buttons
Stylesheet

===========*/

/*===========

Base

===========*/

html {
	font: "Proxima Nova", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
}
body {
	background: #ffffff;
	width: 700px;
	margin:0 auto;
}
h1 {
	color: #2C3E50;
}
h2 {
	color: #BDC3C7;
}

/*===========

Default Styles

===========*/
.btn {
	border-radius:5px;
	color: #FFF;
	margin: 0 6px 0 0;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	vertical-align: middle;
}
.large {
	font-size: 24px;
	padding: 15px 20px;
}
.medium {
	font-size: 18px;
	padding: 10px 15px;
}
.small {
	font-size: 14px;
	padding: 8px 12px;
}
.mini {
	font-size: 10px;
	padding: 6px 10px;
}
.btn-default {
	background-color: #3498DB;
}
.btn-default:hover {
	background-color: #2980B9;
}
.btn-success {
	background-color: #2ECC71;
}
.btn-success:hover {
	background-color: #27AE60;
}
.btn-warning {
	background-color: #F1C40F;
}
.btn-warning:hover {
	background-color: #F39C12;
}
.btn-danger {
	background-color: #E74C3C;
}
.btn-danger:hover {
	background-color: #C0392B;
}
.btn-boring {
	background-color: #ECF0F1;
	color: #7F8C8D;
}
.btn-boring:hover {
	background-color: #BDC3C7;
	color: #7F8C8D;
}